<div class="banner-ourbrands owl-style2">
	<!-- <div class="module-title"> -->
		<!-- <h2>{{ heading_title }}</h2> -->
	<!-- </div> -->
	<div id="banner{{ module }}" class="owl-carousel owl-theme">
		{% for banner in banners %}
			<div class="item text-center">
				{% if banner.link %}
					<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>
				{% else %}
					<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript"><!--
$('#banner{{ module }}').owlCarousel({
	autoPlay : {% if slide.auto %} true {% else %} false {% endif %},
	items : 6,
	margin: 30,
	loop: true,			
	navSpeed : 1000,
	dotsSpeed : 1000,
	autoplaySpeed : 1000,
	nav : true,
	dots : false,
	navText : ['<i class="ion-ios-arrow-back"></i>','<i class="ion-ios-arrow-forward"></i>'],
	responsive:{
		0:{
			items: 1
		},
		480:{
			items: 2
		},
		640:{
			items: 3
		},
		1024:{
			items: 4
		},
		1200:{
			items: 6
		}
	}
});
--></script> 