<div class="featured-cat-thumb title3">
		<div class="module-title">
			<h2>{{ heading_title }}</h2>
			<!-- <p class="module-description">{{ module_description }}</p> -->
		</div>
		<div class="featured-categories-container">
		<div class="row">
		{% if thumb %}
		<div class="module-image col-sm-3">	
			<img src="{{ thumb }}" alt="image module" />
		</div>
		{% endif %}
		{% if thumb2 %}
		<div class="module-image module-image2 col-sm-3">	
			<img src="{{ thumb2 }}" alt="image module" />
		</div>
		{% endif %}
		{% if categories %}
			<div class="{% if thumb or thumb2 %}{{' col-sm-6 '}}{% endif %} featured-categories-contents">
			{% set count, rows = 0, config_slide.f_rows %}
			{% if not rows %}
				{% set rows = 1 %}
			{% endif %}
			<div class="owl-featured-categories owl-carousel owl-theme">
				{% for category in categories %}
					{% if count % rows == 0 %}
					<div class="row_items">
					{% endif %}
					{% set count = count + 1 %}
						<div class="fcategory-content">
							<div class="content-thumb zoom-img-h">
								{% if category.homethumb_image %}
								<a href="{{ category.href }}"><img src="{{ category.homethumb_image }}" alt="{{ category.name }}" /></a>
								{% endif %}
								<a class="name" href="{{ category.href }}"><span>{{ category.name }}</span></a>
								{% if config_slide.show_description %}
									<p class="dec">{{ category.description }}</p>
								{% endif %}
								{% if config_slide.show_sub_category %}
									{% set number_sub = config_slide.number_sub %}
									{% if category.children %}
										{% set sub_count = 0 %}
										<ul class="sub-featured-categories">
											{% for subcate in category.children %}
												{% if sub_count < number_sub %}
												<li><a href="{{ subcate.href }}">{{ subcate.name }}</a></li>
												{% endif %}
												{% set sub_count = sub_count + 1 %}
											{% endfor %}
										</ul>
									{% endif %}
								{% endif %}
							</div>							
						</div>
					{% if (count % rows == 0) or (count == categories|length) %}
					</div>
					{% endif %}
				{% endfor %}
			</div>
			</div>
		{% else %}
			{{ text_empty_featurer_category }}
		{% endif %}
		</div>
	</div>
</div>
{% if categories %}
<script type="text/javascript">
$(document).ready(function() { 
	$(".owl-featured-categories").owlCarousel({
	 	items: {{ config_slide.items }},
        loop: false,
        margin: 30,
        nav: {% if config_slide.f_show_nextback %} true {% else %} false {% endif %},
        dots: {% if config_slide.f_show_ctr %} true {% else %} false {% endif %},
        autoplay:  {% if config_slide.autoplay %} true {% else %} false {% endif %},
        autoplaySpeed: {% if config_slide.f_speed %} {{ config_slide.f_speed }} {% else %} 3000 {% endif %},
        navSpeed: {% if config_slide.f_speed %} {{ config_slide.f_speed }} {% else %} 3000 {% endif %},
        dotsSpeed: {% if config_slide.f_speed %} {{ config_slide.f_speed }} {% else %} 3000 {% endif %},
		lazyLoad: true,
		navText : ['<i class="ion-ios-arrow-back"></i>','<i class="ion-ios-arrow-forward"></i>'],
        responsive:{
			0:{
				items: 1
			},
			481:{
				items: 2
			},
			769:{
				items: 3
			},
			1024:{
				items: 4
			},
			1200:{
				items: {{ config_slide.items }}
			},
        }
	});
});
</script>
{% endif %}
