<div id="instagram_block_home" class="block">
	<div class="title_block">
		<h3 class="title-footer">{{ heading_title }}</h3>
	</div>
	{% if error_connect == false %}
		<p class="text_error_instagram">{{ text_error }}</p>
	{% else %}
        {% set count, rows = 0, config_slide.f_rows %}
        {% if not rows %}
            {% set rows = 1 %}
        {% endif %}
        <div class="row1">
            <div class="content_block {% if config_slide.f_view_mode == 'slider' %} owl-carousel owl-theme {% endif %}">
                {% for instagram in instagrams %}
                    {% if count % rows == 0 %}
                        <div class="row_items">
                    {% endif %}
                    {% set count = count + 1 %}
                            <a class="fancybox {% if config_slide.f_view_mode != 'slider' %} col-xs-4 {% endif %}" href="{{ instagram.image }}" style="display: block;"><img src="{{ instagram.small_image }}" alt="" /></a>
                    {% if count % rows == 0 %}
                        </div>
                    {% else %}
                        {% if count == instagrams|length %}
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if config_slide.f_view_mode == 'slider' %}
        <script type="text/javascript">
            $("#instagram_block_home .content_block").owlCarousel({
                autoPlay: {% if config_slide.autoplay %} true {% else %} false {% endif %},
                items : {{ config_slide.items }},
                autoplaySpeed : {% if config_slide.f_speed %} {{ config_slide.f_speed }} {% else %} 3000 {% endif %},
                nav : {% if config_slide.f_show_nextback %} true {% else %} false {% endif %},
                dots : {% if config_slide.f_show_ctr %} true {% else %} false {% endif %},
				margin: 15,
				navText : ['<i class="fa fa-caret-left"></i>','<i class="fa fa-caret-right"></i>'],
                responsive:{
					0:{
						items: 2
					},
					480:{
						items: 3
					},
					640:{
						items: 3
					},
					1024:{
						items: 3
					},
					1200:{
						items: 3
					}
				}
            });
        </script>
        {% endif %}
        <script type="text/javascript">
            $('#instagram_block_home .content_block').magnificPopup({
                type: 'image',
                delegate: 'a',
                gallery: {
                    enabled : true
                }
            });
        </script>
    {% endif %}
</div>