<div class="testimonial-container">
<div class="container1">
	<!-- <div class="module-title"> -->
		<!-- <h2> -->
			<!-- {{ title }} -->
		<!-- </h2> -->
	<!-- </div> -->
	{% set count = 0 %}
	{% if slide.rows %}		
		{% set rows = slide.rows %}
	{% else %}
		{% set rows = 1 %}
	{% endif %}
	{% if testimonials %}
		<div class="block-content">
			<ul class="thumb owl-carousel owl-theme" id="sync2">
				{% set i, j = 0, 0 %}
				{% for testimonial in testimonials %}
					{% if testimonial.content %}
					{% if testimonials|length is divisible by(2) %}
						{% set num_check = (testimonials|length)/2 %}
					{% else %}
						{% set num_check = (((testimonials|length)/2)|round)-1 %}
					{% endif %}
					<li class="testithumb{{ j }}{{ (j == num_check ) ? ' active' : '' }}">
						{% set j = j + 1 %}
						{% if testimonial.image %}
						<img src="{{ testimonial.image }}" alt="{{ testimonial.customer_name }}">
						{% endif %}
					</li>
					{% endif %}
				{% endfor %}
			</ul>
			<div id="slides">
				{% for testimonial in testimonials %}
					{% if count % rows == 0 %}
					<div class="row_items">
					{% endif %}
					{% set count = count + 1 %}
					<div class="testimonial-content">
						<!-- <div class="testimonial-images"> -->
							<!-- <a href="{{more}}"><img src="{{ testimonial.image }}" alt="{{ testimonial.customer_name }}"></a> -->
						<!-- </div> -->
						<div class="testimonial-box">
							<h5 class="testimonial-author">{{ testimonial.customer_name }}</h5>
							<p class="testimonial-text"><i class="ion-quote"></i><br/>{{ testimonial.content }}</p>
							
						</div>
					</div><!--testimonial-content-->					
					{% if count % rows == 0 or count == testimonials|length %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div><!--block-content-->
	{% else %}
		<p class="text_empty">{{ text_empty }}</p>
	{% endif %}
	
</div>
</div><!--testimonial-container-->	
<script type="text/javascript">
$(document).ready(function() {
	$('#slides').slick({
		autoPlay : {% if slide['auto'] %} {{ slide['auto'] }} {% else %} false {% endif %},
		slidesToShow: {{ slide['items'] }},
		slidesToScroll: 1,
		arrows: {% if slide['navigation'] %} true  {% else %} false {% endif %},
		fade: true,
		dots: {% if slide['pagination'] %} true {% else %} false {% endif %},
		speed: {{ slide['speed'] }},
		asNavFor: '#sync2'
	});
	$('#sync2').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '#slides',
		centerMode: true,
		arrows: false,
		focusOnSelect: true
	});
});
</script>