{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row account-main">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="account-item">
	      <h2>{{ text_my_account }}</h2>
	      <ul class="list-unstyled">
	        <li><a href="{{ edit }}"><div class="pic"><img src="/image/catalog/icon/information.png" alt=""></div>{{ text_edit }}</a></li>
	        <li><a href="{{ password }}"><div class="pic"><img src="/image/catalog/icon/password.png" alt=""></div>{{ text_password }}</a></li>
	        <li><a href="{{ address }}"><div class="pic"><img src="/image/catalog/icon/address.png" alt=""></div>{{ text_address }}</a></li>
	        <li><a href="{{ wishlist }}"><div class="pic"><img src="/image/catalog/icon/wishlist.png" alt=""></div>{{ text_wishlist }}</a></li>
	        <li><a href="{{ referrer }}"><div class="pic"><img src="/image/catalog/icon/referrer.png" alt=""></div>{{ text_referrer }}</a></li>
	      </ul>
      </div>
	      {% if credit_cards %}

	      <div class="account-item">
	      <h2>{{ text_credit_card }}</h2>
	      <ul class="list-unstyled">
	        {% for credit_card in credit_cards %}
	        <li><a href="{{ credit_card.href }}"><div class="pic"><img src="/image/catalog/icon/credit-card.png" alt=""></div>{{ credit_card.name }}</a></li>
	        {% endfor %}
	      </ul>
      </div>
	      {% endif %}
      <div class="account-item">
	      <h2>{{ text_my_orders }}</h2>
	      <ul class="list-unstyled">
	        <li><a href="{{ order }}"><div class="pic"><img src="/image/catalog/icon/history.png" alt=""></div>{{ text_order }}</a></li>
	        <li><a href="{{ download }}"><div class="pic"><img src="/image/catalog/icon/download.png" alt=""></div>{{ text_download }}</a></li>
	        {% if reward %}
	        <li><a href="{{ reward }}"><div class="pic"><img src="/image/catalog/icon/reward.png" alt=""></div>{{ text_reward }}</a></li>
	        {% endif %}
	        <li><a href="{{ return }}"><div class="pic"><img src="/image/catalog/icon/return-requests.png" alt=""></div>{{ text_return }}</a></li>
			<li><a href="{{ cancel }}"><div class="pic"><img src="/image/catalog/icon/cancel.png" alt=""></div>{{ text_cancel }}</a></li>
	        <li><a href="{{ transaction }}"><div class="pic"><img src="/image/catalog/icon/transactions.png" alt=""></div>{{ text_transaction }}</a></li>
	        <li><a href="{{ recurring }}"><div class="pic"><img src="/image/catalog/icon/recurring-payments.png" alt=""></div>{{ text_recurring }}</a></li>
	      </ul>
      </div>
      <!-- <div class="account-item">
	      <h2>{{ text_my_newsletter }}</h2>
	      <ul class="list-unstyled">
	        <li><a href="{{ newsletter }}"><div class="pic"><img src="/image/catalog/icon/newsletter.png" alt=""></div>{{ text_newsletter }}</a></li>
	      </ul>
      </div> -->
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}