{{ header }}
<div id="account-address">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}

  <div class="container">
  <div class="row account-main">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ text_address_book }} <a href="{{ add }}" class="btn btn-primary btn-add"> <i class="fa fa-plus"></i> {{ button_new_address }}</a></h2>
      <!-- <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="info">{{ result.address }}</div>
            <div class="toolbar"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></div>
          </div>
        </div>
      </div> -->
      {% if addresses %}
      <!-- <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% for result in addresses %}
          <tr>
            <td class="text-left">{{ result.address }}</td>
            <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div> -->
      <div class="row clearfix">

        {% for result in addresses %}
        <div class="col-md-3 address-item">
          <div class="card">
            <div class="info">{{ result.address }}</div>
            <div class="bar"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a><a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></div>
          </div>
        </div>

          {% endfor %}
      </div>

      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
        <!-- <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div> -->
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>


</div>
</div>
{{ footer }}