{{ header }}
{% if cancel %}
<div id="account-cancel" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}"> {{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row"> {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}"> {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_description }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_order }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
              {% if error_firstname %}
              <div class="text-danger">{{ error_firstname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
              {% if error_lastname %}
              <div class="text-danger">{{ error_lastname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-10">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %} </div>
          </div>
          <input type="hidden" name="order_id" value="{{ order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
        </fieldset>
        <fieldset>
          <legend>{{ text_product }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_reason }}</label>
            <div class="col-sm-10"> {% for cancel_reason in cancel_reasons %}
              {% if cancel_reason.cancel_reason_id == cancel_reason_id %}
              <div class="radio">
                <label>
                  <input type="radio" name="cancel_reason_id" value="{{ cancel_reason.cancel_reason_id }}" checked="checked" />
                  {{ cancel_reason.name }}</label>
              </div>
              {% else %}
              <div class="radio">
                <label>
                  <input type="radio" name="cancel_reason_id" value="{{ cancel_reason.cancel_reason_id }}" />
                  {{ cancel_reason.name }}</label>
              </div>
              {% endif %}
              {% endfor %}
              {% if error_reason %}
              <div class="text-danger">{{ error_reason }}</div>
              {% endif %} </div>
          </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label">{{ text_whatsapp }}</label>
			<div class="col-sm-10">
			<input type="file" id="whatsapp" name="whatsapp" class="img-thumbnail" title="Upload" style="z-index: 1; opacity: 0;width: 39px; height: 34px; display: inline-block;">
			<label for="f_file">
				<button type="button" data-toggle="tooltip" title="" id="button-upload" class="btn btn-primary" data-original-title="Upload" style="position: absolute; top: 0; left: 15px; z-index: -1;"><i class="fa fa-upload"></i></button>
				<div id="whatsapp-text"></div>
			</label>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label">{{ text_email_screenshots }}</label>
			<div class="col-sm-10">
			<input type="file" id="email-screenshots" name="email_screenshots" class="img-thumbnail" title="Upload" style="z-index: 1; opacity: 0;width: 39px; height: 34px; display: inline-block;">
			<label for="f_file">
				<button type="button" data-toggle="tooltip" title="" id="button-upload" class="btn btn-primary" data-original-title="Upload" style="position: absolute; top: 0; left: 15px; z-index: -1;"><i class="fa fa-upload"></i></button>
				<div id="email-screenshots-text"></div>
			</label>
			</div>
		  </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-comment">{{ entry_fault_detail }}</label>
            <div class="col-sm-10">
              <textarea name="comment" rows="10" placeholder="{{ entry_fault_detail }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        {% if text_agree %}
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-danger">{{ button_back }}</a></div>
          <div class="pull-right">{{ text_agree }}
            {% if agree %}
            <input type="checkbox" name="agree" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="agree" value="1" />
            {% endif %}
            <input type="submit" value="{{ button_submit }}" class="btn btn-primary" />
          </div>
        </div>
        {% else %}
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_submit }}" class="btn btn-primary" />
          </div>
        </div>
        {% endif %}
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$("#whatsapp").on("change",function(){
	$("#whatsapp-text").html($("#whatsapp").val().split('\\')[$("#whatsapp").val().split('\\').length-1]);
});

$("#email-screenshots").on("change",function(){
	$("#email-screenshots-text").html($("#email-screenshots").val().split('\\')[$("#email-screenshots").val().split('\\').length-1]);
});

$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script>
{% else %}
<div style="text-align: center;"><h1 style="font-size: 60px;">404</h1></div>
{% endif %}
{{ footer }}