{{ header }}
<div id="account-reset" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="container">
  <div class="row account-main">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ text_referrer }}</h1>
      <p style="border-bottom:1px solid #ddd;margin-bottom:30px;padding-bottom:15px;margin-top:15px;">請加說明文字，營銷文案</p>
      <p><span>{{ text_referrer_link }}</span></p>
      <p><input id="referrer_text" type="text" value="{{ referrer_email }}" readonly="readonly" style="width:100%;max-width:900px;line-height: 45px; padding-left:15px"></p>
      <p><button onclick="copyText()" class="btn btn-primary">{{ button_copy }}</button></p>
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
    </div>
</div>
<script>
    function copyText() {
        var referrer = document.getElementById("referrer_text");
        referrer.select()
        document.execCommand("copy");
        alert("{{ text_copy_success }}");
    }
</script>
{{ footer }}