#ajax-login-block {
    display: none;
    background-color: black;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
#ajax-loader {
    display: none;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
}
.ajax-body-login{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;	
	z-index: 10001;
	display: none;
	/* background: rgba(0,0,0,.2); */
	width: 700px;
	height: 400px;
	overflow: auto !important;
}
.ajax-body-login > div{
	background: #fff;
	padding: 20px;
	display: none;
}
.ajax-body-login .account-register .ajax-content{
	padding-bottom: 20px;
}
.ajax-content .buttons > div{
	float: none !important;
	text-align: right;
}
.ajax-content .alert{
	margin-top: 10px;
}
.ajax-load-img{
	display: none;
}
.a-close-frm{
	float: right;
	color: #000;
	display: inline-block;
	padding: 0 10px;
	margin-top: -20px;
	margin-right: -20px;
}
.ajax-content{
	
}
.page-title h1,
.register-form-content h1,
.login-form-content h2{
	font-size: 22px;
	margin: 0 0 20px;
}
@media(max-width: 767px){
	.ajax-body-login{
		width: 80%;
		height: 85%;
	}
}