{{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
        &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive info">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
				
				{% if product.filling_taste %}
				{% for filling_taste_layer in product.filling_taste %}<br />
				<small>{{ filling_taste_layer }}</small>
				{% endfor %}
				{% endif %}
				
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
			  <span class="input-group-btn"> <button type="submit" class="btn btn-primary minus-qty" onclick="var num = $('input[name=\'quantity[{{ product.cart_id }}]\']').val();if(num<=1) {return false;} else {num--;}$('input[name=\'quantity[{{ product.cart_id }}]\']').val(num);">-</button> </span>
                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span class="input-group-btn">
                  <!-- <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>-->
				 
					<button type="submit" class="btn btn-primary plus-qty" onclick="var num = $('input[name=\'quantity[{{ product.cart_id }}]\']').val();num++;$('input[name=\'quantity[{{ product.cart_id }}]\']').val(num);">+</button> 
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
            
          </table>
		  <div class="form-group">
		    <label class="col-sm-4 control-label" for="input-date">{{ entry_receipt_date }}</label>
		    <div class="col-sm-8">
		      <div class="input-group date">
		        <input type="text" name="receipt_date" value="" placeholder="{{ entry_receipt_date }}" data-date-format="YYYY-MM-DD" id="input-date" class="form-control" onblur="receipt()" />
		        <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
		        </span></div>
		    </div>
		  </div>
        </div>
      </form>
      {% if modules %}
      <h2>{{ text_next }}</h2>
      <p>{{ text_next_choice }}</p>
      <div class="panel-group" id="accordion"> {% for module in modules %}
        {{ module }}
        {% endfor %} 
		{% if zero %}
		{% else %}
      		<div class="panel panel-default">
      		  <div class="panel-heading">
      		    <h4 class="panel-title"><a href="#collapse-integral" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">積分優惠<i class="fa fa-caret-down"></i></a></h4>
      		  </div>
      		  <div id="collapse-integral" class="panel-collapse collapse">
      		    <div class="panel-body">
      		      <label class="col-sm-2 control-label" for="input-integral">積分優惠</label>
      		      <div class="input-group">
      				{% if integrals %}
					<div id="integral">
      				<input type="radio" name="integral" value="0" checked/>不選擇優惠
      				{% for integral in integrals %}
						{% if integral.maximum <= get_conversion %}
      					<input type="radio" name="integral" value="{{ integral.maximum }}" />{{ integral.rule_name }}
						{% endif %}
      				{% endfor %}
      				<input type="radio" name="integral" value="-1" /><input type="number" class="text-value form-control" min="0" max="{{ get_conversion }}" oninput="if(value>{{ get_conversion }}) {value={{ get_conversion }};} else if(value<0) {value='0';}"  name="integral_value" style="width: auto; float: none;" readonly />
      				</div>
					<li style="color: red;">{{ integr }}</li>
      				<li style="color: red;">{{ conversion }}</li>
					{% else %}
      				您當前的訂單不符合積分優惠條件
      				{% endif %}
      		      </div>
      		    </div>
      		  </div>
      		</div>
		{% endif %}
      </div>
      {% endif %} <br />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
			{% if total.code == 'total'%}
			{% if cgds %}
			<tr>
				<td class="text-right"><strong>{{ text_cgd }}</strong></td>
				<td class="text-right">{{ cgds }}</td>
			</tr>
			{% endif %}
			{% if first_order_discount_price %}
			<tr>
				<td class="text-right"><strong>{{ text_first_order_discount }}</strong></td>
				<td class="text-right">{{ first_order_discount_price }}</td>
			</tr>
			{% endif %}
			<tr id="dis"></tr>
			{% endif %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right {{ total.code }}"{% if total.code == 'total' %} style="color: red;"{% endif %}>{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><button id="checkout" class="btn btn-primary">{{ button_checkout }}</button></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
	<script type="text/javascript"><!--
		$('input[name="integral"]').on('click', function() {
			if($(this).val() == "-1") {
				$(".text-value").removeAttr("readonly");
				$(".text-value").val("0");
			} else {
				var inte = $(this).val();
				if ($(".text-value").is('[readonly]')) { 
					
				} else {
					$(".text-value").attr("readonly","readonly");
				}
				$(".text-value").val("");
			}
		})
		var mindate = moment().add({{ max_number }}, 'days').millisecond(0).second(0).minute(0).hour(0);
		$('.date').datetimepicker({
			language: '{{ datepicker }}',
			defaultDate: mindate,
			minDate: mindate,
			pickTime: false
		}).on('dp.change',function(ev){
			receipt();
		});
		function receipt() {
			$.ajax({
				url: '{{ actions }}',
				type: 'post',
				data: $('.info input[type=\'text\'], #integral input[type=\'radio\']:checked, #integral input[type=\'number\']'),
				dataType: 'json',
				success: function(json) {
					if(json['discount']) {
						$("#dis").html('<td class="text-right"><strong>{{ text_early_booking_discount }}</strong></td><td class="text-right">-'+json['discount']+'</td>');
					} else {
						$("#dis").html('');
					}
					$(".total").text(json['sub']);
				}
			})
		}
		$("#checkout").click(function(){
			$.ajax({
				url: '{{ actions }}',
				type: 'post',
				data: $('.info input[type=\'text\'], #integral input[type=\'radio\']:checked, #integral input[type=\'number\']'),
				dataType: 'json',
				success: function(json) {
					window.location.href = '{{ checkout }}';
				}
			})
		})
	//--></script>
</div>
{{ footer }} 