{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-integration-rule" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-integration-rule" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-integration-rule">{{ entry_minimum_order_value }}</label>
            <div class="col-sm-10">
              <input type="text" name="minprice" value="{{ minprice }}" id="input-minprice" class="form-control" />
			  <input type="hidden" name="id" value="{{ id }}" id="input-integral" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-maximum">{{ entry_maximum_discount_amount }}</label>
            <div class="col-sm-10">
              <input type="text" name="maximum" value="{{ maximum }}"id="input-maximum" class="form-control" />
            </div>
          </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label" for="input-rule-name">{{ entry_rule_name }}</label>
		    <div class="col-sm-10">
		      <input type="text" name="rule_name" value="{{ rule_name }}" id="input-rule-name" class="form-control" />
		    </div>
		  </div>
        </form>
      </div>
    </div>
  </div>
{{ footer }}