{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-integral" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-integral" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-integral"><span data-toggle="tooltip" title="{{ help_integral }}">{{ entry_integral }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="integral" value="{{ integral }}" placeholder="{{ entry_integral }}" id="input-integral" class="form-control" />
			  <input type="hidden" name="id" value="{{ id }}" id="input-integral" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-price"><span data-toggle="tooltip" title="{{ help_price }}">{{ entry_price }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ footer }}