.layered-container{
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: none;
}
.layered-container .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 900; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layered-heading { 
	font-size: 24px;
	font-weight: 900;
	color: #fff !important;
	text-transform: capitalize;
	background: #be8658 !important;
	padding: 16px 15px;
	border-radius: 5px;
	border: none;
}
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a { display: inline-block; }
/* .filter-attribute-container { border-bottom: 1px solid #ccc; } */
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { position: absolute; right: 0px; top: 50%; margin-top: -7px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(../../../../image/remove-icon.png) no-repeat;   border: 0; }
/* .filter-attribute-container .remove-filter:hover { background: url(../../../../image/remove-icon.png) no-repeat; opacity: 0.5; border: 0; } */
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin: 10px 0 !important;}
.filter-attribute-container.filter-price .list-group-item {
	padding: 0 12px;
}
.filter-attribute-container .list-group-item { background: none; padding: 0px; border: none; overflow: hidden; position: relative;}
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 0px 0 0; border: none; background: none;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px 0; text-align: center; font-size: 14px; color: #333333;  margin: 10px -15px 0; font-weight: 400;}
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered{
    /* padding: 35px 0; */
}
.layered .list-group .filter-attribute-container:last-child  .list-group-item{
	margin-bottom: 0 !important;
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 12px;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #be8658;
}
.filter-attribute-remove-container{
	/* padding-top: 20px; */
}
.filter-attribute-container:not(.filter-attribute-remove-container){
    border: 1px solid #eaecee;
	margin-bottom: 50px;
	padding: 20px;
	background: #fff;
}
.filter-prices .list-group-item{
	margin: 0 !important;
}
.filter-price{
	padding: 0 15px;
}
.filter-prices{
	background: #f6f6f6;
	margin: 0 -15px 45px;
	padding: 30px 15px;
	border-bottom: 1px solid #ebebeb;
}
.filter-attribute-container label::before{
	content: "";
	position: absolute;
	bottom: -2px;
	height: 2px;
	width: 70px;
	background: #be8658;
	left: 0;
}
.filter-attribute-container label{
    color: #333333;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	width: 100%;
	padding: 0px;
	margin-bottom: 15px;
	line-height: 24px;
	padding-bottom: 15px;
	border-bottom: 2px solid #ededed;
	position: relative;
}
#slider-price.ui-slider-horizontal{
    height: 5px;
	
}
#slider-price .ui-widget-header{
	background: #333333;
}
#slider-price.ui-widget-content{
    background: #e8e8e8;
	border-radius: 5px !important;
    border: none !important;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, 
.ui-widget-header .ui-state-default:hover{
	/* background: #fff; */
	cursor: pointer
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #333333;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: -5px;
	border: none;
	background: #be8658;
	display: inline-block;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #be8658;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) i{
	margin: 0 15px 0 1px;
	font-size: 8px;
	color: #c8c8c8;
	vertical-align: middle;
}
.filter-attribute-container .list-group-item a:not(.remove-filter){
	/* padding: 10px 0; */
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	line-height: 40px;
	/* border-bottom: 1px dotted rgba(229, 229, 229, 0.7) */
}
@media(max-width: 1024px){
	.layered{
		/* padding: 10px; */
	}
}