{% if currencies|length > 1 %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
	<div class="btn-group">
	<span>{{ text_currency }}</span>
		<!-- <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">{{ text_currency }}<i class="ion-ios-arrow-down"></i></button> -->
	  <!-- <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> -->
		<!-- {% for currency in currencies %} -->
			<!-- {% if currency.symbol_left and currency.code == code %}  -->
				<!-- <strong>{{ currency.symbol_left }}</strong>  -->
			<!-- {% elseif currency.symbol_right and currency.code == code %}  -->
				<!-- <strong>{{ currency.symbol_right }}</strong>  -->
			<!-- {% endif %} -->
		<!-- {% endfor %}  -->
	  <!-- <span class="hidden-xs hidden-sm hidden-md">{{ text_currency }}</span>&nbsp;<i class="fa fa-caret-down"></i> -->
	  <!-- </button> -->
	  <ul class="list-unstyled">
		{% for currency in currencies %}
		{% if currency.code == code %}
		<li>
		  <button class="item-selected currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">
			{{ currency.code }}
		</button>
		</li>
		{% else %}
		<li>
		  <button class="currency-select btn btn-link btn-block" type="button" name="{{ currency.code }}">
			{{ currency.code }}
		  </button>
		</li>
		{% endif %}
		{% endfor %}
	  </ul>
	</div>
	<input type="hidden" name="code" value="" />
	<input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
{% endif %} 