<footer>
	<div class="top-footer">
		<div class="container">
			<div class="row">
				{% if block4 %}
				<div class="col-sm-4 col-f">
					{{ block4 }}
				</div>
				{% endif %}			
				{% if informations %}
				<div class="col-sm-2 col-f">
					<h5 class="title-footer">{{ text_information }}</h5>
					<ul class="list-unstyled">
						{% for information in informations %}
							<li><a href="{{ information.href }}">{{ information.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if block5 %}
				<div class="col-sm-3 col-f">
					{{ block5 }}
				</div>
				{% endif %}
				{% if block6 %}
				<div class="col-sm-3 col-f">
					{{ block6 }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>		
	<div class="bottom-footer">
		<div class="container">
		<div class="bottom-container row">
			<p class="copyright-text">{{ powered }}</p>
			<div class="payment">
				<a href="#"><img src="image/payment/payment.png" alt="payment"></a>
			</div>
		</div>	
		</div>	
	</div>
	<div id="back-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script type="text/javascript">
$(document).ready(function(){
	// hide #back-top first
	$("#back-top").hide();
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 300) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#back-top').click(function () {
			$('body,html').animate({scrollTop: 0}, 800);
			return false;
		});
	});
});
</script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>