#search-by-category {
	position: fixed;
	top: 50%;
	width: 60%;
	left: 20%;
	z-index: 10001;
	margin-top: -50px;
}
.search-container{
	border: none;
	float: left;
	width: calc( 100% - 140px );
	/* border-radius: 3px 0 0 3px; */
	/* padding: 0 0 0 1px; */
	background: #333333;
}
#text-search{
	float: left;
	width: 100%;
	height: 100px;
	border: none;
	padding: 0 20px;
	/* border-radius: 3px 0 0 3px; */
	background: #333333;
	color: #fff;
}
#text-search::-webkit-input-placeholder{
  color: #ffffff;
}
#text-search::-moz-placeholder{
  color: #ffffff;
}
#text-search:-ms-input-placeholder{
  color: #ffffff;
}
#text-search:-moz-placeholder {
  color: #ffffff;
}
.categories-container{
	float: right;
	max-width: 150px;
	width: 150px;
	display: none;
}
.cate-items .f2,
.cate-items .f1{
	padding-left: 10px;
}
.cate-items .item-cate{
	cursor: pointer;
}
.cate-items .item-cate:hover{
	color: #83b53b
}
.cate-items{
	display: none;
	padding: 0 0 0 10px;
	position: absolute;
	top: calc( 100% + 1px );
	left: 0;
	right: 0;
	border: 1px solid rgba(0,0,0,.1);
	background: #fff;
	z-index: 113;
	max-height: 300px;
	overflow-y: auto;
}
.hover-cate > p i{
	font-size: 10px;
	color: #999999;
	padding-left: 20px;
}
.hover-cate > p{
	height: 38px;
	margin: 0;
	text-align: center;
	line-height: 38px;
	color: #757575;
	cursor: pointer
}
.hover-cate{
	position: relative;
}
#sp-btn-search{
	float: right;
	
	height: 100px;
}
#btn-search-category i{
	font-size: 48px;
	color: #fff;
	line-height: 100px;
}
#btn-search-category:hover i{
	color: #83b53b
}
#btn-search-category{
	padding: 0;
	margin: 0;
	border: none;
	background: #333;
	border-radius: 0;
	height: 100px;
	width: 140px;
	text-align: center;
}
.ajax-loader-container { 
	display: none;
}
.ajax-result-item { 
	list-style: none;
}
.search-ajax{
	position: relative;
	clear: both;
}
.ajax-loader-container { 
	position: absolute; 
	top: 100%; 
	z-index: 112; 
	left: 0;
	right: 0;
	border: 1px solid rgba(0,0,0,.1); 
	background: rgba(0,0,0,.1); 
	opacity: 0.5; 
}
.ajax-result-container.show{
	/* border: 1px solid rgba(0,0,0,.1);  */
}
.ajax-result-container { 
	position: absolute; 
	top: 100%; 
	z-index: 10001; 
	left: 0;
	right: 0;
	background: #fff;
	max-height: 150px; 
	overflow-y: auto;
	/* opacity: 0; */
}
.ajax-result-item .product-info .product-image{
	margin-bottom: 10px;
}
.ajax-result-item .product-info{
	margin-bottom: 20px;
}
@media(max-width: 1024px){
	.categories-container{
		display: none;
	}
	#text-search{
		width: 100%;
	}
}
@media(max-width: 767px){
	#search-by-category{
		padding-right: 0;
	}
}