#ajax-login-block {
    display: none;
    background-color: black;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
#ajax-loader {
    display: none;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
}
.ajax-body-login{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;	
	z-index: 10001;
	display: none;
	/* background: rgba(0,0,0,.2); */
	width: 700px;
	height: 400px;
	overflow: auto !important;
}
.ajax-body-login > div{
	background: #fff;
	padding: 30px;
	display: none;
}
.ajax-body-login .account-register .ajax-content{
	padding-bottom: 20px;
}
.ajax-content .buttons > div{
	float: none !important;
	text-align: right;
}
.ajax-content .alert{
	margin-top: 10px;
}
.ajax-load-img{
	display: none;
}
.a-close-frm{
	float: right;
	color: #000;
	display: inline-block;
	padding: 5px 20px;
	margin-top: -65px;
	margin-right: -10px;
	background: #f0f0f0;
	border-radius: 30px;
}

.a-close-frm:before{
	content:"x";
	margin-right:5px;
}
.ajax-content{
	
}
.page-title h1,
.register-form-content h1,
.login-form-content h2{
	font-size: 22px;
	margin: 0 0 20px;
	text-transform: capitalize;
}
.page-title h1{	
	border-bottom:1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
@media(max-width: 767px){
	.ajax-body-login{
		width: 80%;
		height: 85%;
	}
}

.login-form-content h2,.login-form-content p{
	display: none;
}


#ajax-login-form .form-group{
	margin-top: 15px;
}

.action .button{
	background: #ff7f7f!important
}

.action .button:last-of-type{
	background: none!important;
	color:#ff7f7f!important;
	text-transform: capitalize;
}