.d_social_login{font-size:16px;color:#6f6f6f}
.d_social_login input{display:initial;width:100%}
.d_social_login .modal-content{-webkit-transition:all ease .4s;transition:all ease .4s}
.d_social_login .control-label{color:#6f6f6f}
.d_social_login .modal-dialog{max-width:960px!important;margin:30px auto}
.d_social_login #dsl_popup{padding:2em}
.d_social_login #dsl_intro{line-height:1.2;font-size:.82em;padding:1em;margin-top:1em;margin-bottom:1em;color:#8194b0;background-color:#f0f4f9;border:1px solid #c6d1e3;-webkit-border-radius:4px;border-radius:4px}
.d_social_login #dsl_submit{width:100%}
.d_social_login .error{margin:0;color:#bc3d3d}
.d_social_login .error.form-control{background-color:#fbeded;border:1px solid #e76262}
.d_social_login label{padding-top:0}
.d_social_login #dsl_profile_image{max-width:100%;-webkit-border-radius:100%;border-radius:100%}
.d_social_login .img-wrap{display:block;margin:auto;max-width:100px;position:relative}
.d_social_login .img-wrap .log-small-icon{display:block;width:30px;height:30px;background-size:40%;background-position:center center;background-repeat:no-repeat;padding:2px;-webkit-border-radius:100%;border-radius:100%;position:absolute;bottom:0;right:0}
.d_social_login .pre_loader{position:absolute;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:50%;z-index:1056}
.dsl_confirm{text-align:center}
.dsl_confirm .wrap{display:inline-block}
.dsl_confirm .wrap-circul{display:table;background:#1bce6f;-webkit-border-radius:100%;border-radius:100%;width:50px;height:50px;color:#fff}
.dsl_confirm .wrap-circul .fa{display:table-cell;vertical-align:middle;font-size:25px}@media only screen and (max-width:500px){.d_social_login .modal-dialog{max-width:100%}
.d_social_login #dsl_popup{padding:2em}}
.modal-open{overflow:scroll}
.d-social-login{margin-bottom:15px;margin-left:-2px;margin-right:-2px;display:inline-block}
.d-social-login__button-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:30px;}
.d-social-login__label{-webkit-align-self:center;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;display:none}
.d-social-login__button{color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1);-webkit-transition:all .4s ease;transition:all .4s ease;margin:2px;margin-left:2px!important}
.d-social-login__button__label{-webkit-align-self:center;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;color:#fff;text-shadow:none}
.d-social-login__button__label:active,.d-social-login__button__label:focus{text-decoration:none}
.d-social-login__button__icon{display:flex;align-items:center;justify-content:center;border-right:1px solid rgba(255,255,255,.3)}
.d-social-login__button__icon img{display:inline-block;background-size:contain;background-repeat:no-repeat;background-position:center;height:100%;width:100%}
.d-social-login__button__icon__preloader{display:none;max-width:100%;max-height:100%}
.d-social-login__button:hover{-webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,.2);box-shadow:inset 0 -2px 0 rgba(0,0,0,.2);color:#fff}
.d-social-login__button:hover .d-social-login__button__label{color:#fff;text-decoration:none}
.d-social-login__button:active,.d-social-login__button:focus{color:#fff;text-decoration:none}
.d-social-login__button:active .d-social-login__button__label,.d-social-login__button:focus .d-social-login__button__label{color:#fff;text-decoration:none}
.d-social-login__button--loading .d-social-login__button__icon__preloader{display:block}
.d-social-login__button--loading .d-social-login__button__icon>img{display:none}
.d-social-login--icons .d-social-login__label{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:9px 10px 0 0;height:40px;font-size:12px;color:#888}
.d-social-login--icons .d-social-login__button__label{display:none}
.d-social-login--icons .d-social-login__button__icon{border:none;padding:4px;max-height:34px;max-width:34px}
.d-social-login--icons .d-social-login__button__icon__preloader{padding:2px 1px}
.d-social-login--icons .d-social-login__button__icon__preloader>div{width:25px;height:25px}
.d-social-login--small .d-social-login__button__label{padding:3px;font-size:10px}
.d-social-login--small .d-social-login__button__icon{padding:2px;max-height:26px;max-width:26px}
.d-social-login--small .d-social-login__button__icon__preloader>div{width:22px;height:22px}
.d-social-login--medium .d-social-login__button__label{padding:4px;font-size:12px}
.d-social-login--medium .d-social-login__button__icon{padding:4px;max-height:32px;max-width:32px}
.d-social-login--medium .d-social-login__button__icon__preloader>div{width:24px;height:24px}
.d-social-login--large .d-social-login__button__label{padding:4px 8px;font-size:13px}
.d-social-login--large .d-social-login__button__icon{padding:4px;max-height:34px;max-width:34px}
.d-social-login--large .d-social-login__button__icon__preloader>div{width:26px;height:26px}
.d-social-login--huge .d-social-login__button__label{padding:10px 20px;font-size:15px}
.d-social-login--huge .d-social-login__button__icon{padding:5px;width:45px;height:45px;max-height:45px;max-width:45px}
.d-social-login--huge .d-social-login__button__icon__preloader>div{width:32px;height:32px}header .d-social-login,nav .d-social-login{margin-bottom:0;display:inline-block}
.d-social-login--icons .d-social-login__button__icon img{width:25px;height:25px}
.d-social-login--small .d-social-login__button__icon img{width:20px;height:20px}
.d-social-login--medium .d-social-login__button__icon img{width:25px;height:25px}
.d-social-login--large .d-social-login__button__icon img{width:30px;height:30px}
.d-social-login--huge .d-social-login__button__icon img{width:35px;height:35px}
.d-social-login--huge .d-social-login__button__icon img path{fill:#000}

#dsl_form .col-xs-12{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#dsl_form .col-xs-12 > div{
	width:48%;
}