/* none slider */
.tt-product .two_items:nth-child(2n+1),
.tt-product .three_items:nth-child(3n+1),
.tt-product .four_items:nth-child(4n+1),
.tt-product .six_items:nth-child(6n+1){
	clear: both;
}
/* general */
.product-des{
	font-size: 14px;
	color: #595959;
	line-height: 24px;
	margin-bottom: 25px;
	font-weight: 400;
}
.product-list .product-name:not(.none-grid),
.product-grid .none-grid{
	display: none;
}
.multi-rows .product-layout:not(:last-child) .product-thumb{
	margin-bottom: 30px;
}
.special-grid .product-layout:hover .product-thumb{
	/* box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); */
}
.product-grid.product-layout .product-thumb{
	/* border: 1px solid rgba(0,0,0,.1); */
}
.special-grid .product-layout .product-thumb{
	/* box-shadow: 0px 1px 5px 0px transparent; */
	/* border: none; */
}
.product-layout .product-thumb{
	background: #fff;
	/* margin-bottom: 30px; */
}
.product-name{	
	font-size: 16px;	
	font-weight: 700;
	text-transform: capitalize;
	position: relative;
	margin: 0px 0 10px 0;
}
.product-name a:hover{
	color: #58d173 !important;
}
.product-name a{
	color: #333333;
	line-height: 24px;
	display: inline-block;
}
.product-lsit .action-link2{
	
}
.five-items.product-grid .action-link2{
	position: static;
}
.product-grid .action-link2{
	position: absolute;
	bottom: 25px;
	right: 15px;
}
.action-link2 button{
	border: none;
	background: none;
	padding: 0;
	font-size: 18px;
	line-height: 1;
	text-align: center;
}
.action-link2 button:hover i{
	color: #58d173;
}
.action-link2 button i{
	line-height: 1;
	color: #333333;
}
.action-link2 button.btn-cart i,
.action-link2 button:not(.btn-cart) span{
	font-size: 0;
	letter-spacing: 0;
}
.actions-link > button i{
	color: #fff;
	font-size: 21px;
	line-height: 50px;
}
.actions-link > button span{
	font-size: 0;
	letter-spacing: 0;
}
.actions-link > button:not(:last-child){
	margin-bottom: 5px;
}
.actions-link > button:hover{
	background: #58d173;
}
.actions-link > button{
	width: 50px;
	height: 50px;
	background: #333333;
	text-align: center;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	-webkit-transition: transform .6s;
	-moz-transition: transform .6s;
	-o-transition: transform .6s;
	transition: transform .6s;
}
.actions-link{
	text-align: center;
	position: absolute;
	top: 0px;
	line-height: 1;
	left: 0px;
	z-index: 1;
	opacity: 0;
	width: 50px;
	transition: opacity .6s;
}
.product-thumb:hover .actions-link button{
	-webkit-transform: translate(20px,20px);
	-moz-transform: translate(20px,20px);
	-o-transform: translate(20px,20px);
	transform: translate(20px,20px);
}
.product-thumb .actions-link button:nth-child(2){
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
.product-thumb .actions-link button:nth-child(3){
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.product-thumb:hover .actions-link{
	opacity: 1;
}
.qv-button-container{
	display: inline-block;
}
.label-product.l_new span::before{
	border-color: #82b53b transparent transparent transparent;
}
.label-product span::before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #ff4000 transparent transparent transparent;
	left: -1px;
	top: 100%;
	position: absolute;
}
.label-product span{
	display: block;
	position: relative;
}
.label-product{
	position: absolute;
	height: 20px;
	min-width: 40px;
	padding: 0 10px;
	border-radius: 0;
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 900;
	text-align: center;
	line-height: 20px;
	background: #ff4000;
}
.l_new{
	background: #83b53b;
	top: 20px;
	left: 20px;
}
.l_sale{
	top: 20px;
	right: 20px;
}
.symbol-percent{
	font-weight: 400;
}
.manufacture-product{
	display: none;
	
}
.manufacture-product a{
	color: #595959;
	font-style: italic;
}
.ratings{
	margin-bottom: 5px;
	line-height: 12px;
}
.ratings .rating-box .rating0{
	background-image: url("image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("image/rating5.png")
}
.ratings .text-rating{
	color: #a5a5a5;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: left;
	font-size: 0;	
	height: 12px;
}
.image > a{
	display: block;
}
.image{
	/* margin-bottom: 10px; */
}
.image > a,
.image{
	position: relative;
}
.img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-layout.product-grid:hover  .product-thumb{
	border-color: #58d173;
}
.product-layout.product-grid .product-thumb{
	border: 1px solid #f3f3f3;
}
.product-layout .product-inner{
	padding: 10px 20px 25px 20px;
	position: relative;
}
.product-layout:hover .img-r + img{
	opacity: 0;
}
.product-layout:hover .img-r{
	opacity: 1;
	z-index: 0;
}
.price-container{
	position: relative;
}
.price span{
}
.price{
	color: #333333;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}
.price-tax{
	display: none !important;
}
.price-new{
}
.price-old{
	color: #bababa;
	text-decoration: line-through;
	font-size: 14px;
	margin-left: 10px;
}
/* product grid */
/* porudcut list */
.list-style:last-child{
	border: none;
	margin: 0px 0 0 !important;
}
.list-style{
	/* border-bottom: 1px solid rgba(0,0,0,.1); */
	margin: 0px 0 30px !important;
	padding: 0 !important;
	width: 100%;
	float: left
}
.list-style .ratings .rating-box div[class^="rating"]{
	background-position: left;
}
.list-style .actions-link{
	display: none;
}
.list-style .action-links{
	display: none;
}
.list-style .product-thumb{
	border: none !important;
	box-shadow: none !important;
}
.list-style .product-inner{
	width: 60%;
	float: left;
	padding: 10px 0 0 20px;
}
.list-style .product-name::before{
	left: 0;
	margin-left: 0;
}
.list-style .product-name a{
	line-height: 20px;
}
.list-style .product-name{
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}
.list-style .image img{
	border: 1px solid #f3f3f3
}
.list-style .image{
	width: 40%;
	float: left;
	padding: 0;
}
.product-list .ratings{
	margin: 15px 0 10px;
}
.product-list .ratings .rating-box div[class^="rating"]{
	margin: 0;
}
.product-list .ratings .text-rating{
	vertical-align: bottom;
	display: inline-block;	
	font-size: 14px;
}
.product-list .rating-box div[class^="rating"]{
	background-position: left center;
}
.product-list .product-name::before{
	left: 0;
	margin-left: 0;
}
.list-style .price{
	margin: 0;
	font-size: 16px;
}
.list-style.product-layout:hover img{
	opacity: 1;
}
.product-layout:hover img{
	opacity: 1;
}
.list-style.product-layout:hover .img-r{
	opacity: 1;
}
/* module product */
.tt-product{
	/* clear: both; */
}
/* .tt_tabsproduct_module .tab-list{ */
	/* float: left; */
	/* width: 20%; */
/* } */
/* .tt_tabsproduct_module .tab-content{ */
	/* float: left; */
	/* width: 80%; */
/* } */
.tt_tabsproduct_module .module-title h2{
	/* float: left; */
}
.tab-heading{
	text-align: center;
	margin-bottom: 35px;
}
.tab-heading li a{
	background: none !important;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: #333333;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.tab-heading li.active a:hover,
.tab-heading li.active a:focus,
.tab-heading li:hover a,
.tab-heading li.active a{
	color: #58d173;
}
.tab-heading li.active a{
	/* color: #58d173 */
}
.tab-heading li:not(:last-child)::before{
	content: "";
	width: 18px;
	height: 1px;
	background: #cccccc;
	position: absolute;
	top: 50%;
	right: -9px;
}
.tab-heading li{
	list-style: none;
	cursor: pointer;
	float: none;
	margin: 0 !important;
	padding: 0 30px;
	display: inline-block;
	position: relative;
}
.tt_tabsproduct_module .tt-product::before{
	/* content: ""; */
	/* position: absolute; */
	/* height: 100%; */
	/* left: calc(20% - 3px); */
	/* width: 1px; */
	/* background: #ededed; */
	/* z-index: 0; */
}
.tt_tabsproduct_module .tt-product{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 70px;
}
.tt_tabsproduct_module .ratings{
	/* margin-bottom: 20px; */
}
.tt_tabsproduct_module .list-style .action-links button:hover{
	background: #58d173;
}
.tt_tabsproduct_module .list-style .action-links{
	margin-top: 40px;
}
.tt_tabsproduct_module .list-style .action-links button{
	color: #fff;
	background: #333;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 14px 25px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	text-transform: uppercase;
	line-height: 1;
}
.tt_tabsproduct_module .list-style .action-links button i{
	font-size: 0;
}
.tt_tabsproduct_module .list-style .action-links button:not(.btn-cart){
	display: none;
}
.tt_tabsproduct_module .list-style .action-links{
	display: block;
}
.tt_tabsproduct_module .list-style .price{
	margin: 15px 0 25px;
}
.tt_tabsproduct_module .list-style .price,
.tt_tabsproduct_module .list-style .product-name{
	font-size: 22px;
	line-height: 1;
}
.tt_tabsproduct_module .list-style .product-name{
	padding-top: 15px;
}
.tt_tabsproduct_module .list-style .product-inner,
.tt_tabsproduct_module .list-style .image{
	width: 50%;
	padding: 0 15px;
}
.module-image:hover img{
	opacity: .8
}
.module-image{
	text-align: center;
}
.tt_product_module{
	float: left;
	width: 100%;
}
.tt_tabsproduct_module .module-title > button{
	float: right;
	margin-right: 87px;
	line-height: 1;
	display: block;
	height: 33px;
	width: 33px;
	padding: 0;
	margin-top: 1px;
	border: none;
}
/* responsive */
@media(min-width: 1025px){
	.tt_tabsproduct_module .tab-list > button{
		/* display: none; */
	}	
}
@media(max-width: 1024px){
	.tt_tabsproduct_module .tab-content,
	.tt_tabsproduct_module .tab-list{
		width: 100%;
	}
	.tt_tabsproduct_module .tab-list{
		/* border-bottom: 1px solid #ededed; */
	}
	.tab-heading li a{
		border: none !important;
		padding: 0 10px;
		font-size: 14px;
	}
	.tt_tabsproduct_module .tt-product::before{
		display: none;
	}
	.tab-heading li{
		display: inline-block;
		/* padding: 0; */
	}
}