{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-user-group" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-user-group" class="form-horizontal">
			<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-department_name">{{ entry_department_name }}</label>
				<div class="col-sm-10">
					<input type="text" name="department_name" value="{{ department_name }}" placeholder="{{ entry_department_name }}" id="input-department_name" class="form-control" />
					{% if error_department_name %}
					<div class="text-danger">{{ error_department_name }}</div>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
			<label class="col-sm-2 control-label" for="input-department_description">{{ entry_department_description }}</label>
				<div class="col-sm-10">
					<input type="text" name="department_description" value="{{ department_description }}" placeholder="{{ entry_department_description }}" id="input-department_description" class="form-control" />
				</div>
			</div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 