/* Swatches Options */
.ul-swatches-colors { list-style: none; text-align: left; overflow: hidden; padding: 0; }
.ul-swatches-colors li { float: left; border: 1px solid #fff; display: inline-block; position: relative; margin-right: 5px; padding: 2px; }
.ul-swatches-colors .swatches-options:hover { border: 1px solid #E88888; }
.ul-swatches-colors .swatches-options.checked { border: 1px solid #ff0000; }
.ul-swatches-colors .swatches-options a { float: left; display: inline-block; }
.option-swatches { display: none; }
.category-options .ul-swatches-colors {text-align: center;}
.category-options .ul-swatches-colors li {float: none;display: inline-block;vertical-align: top;}
/* Rotate Image */
.rotate-image-container .img-rotate-image { position:absolute;top:0;left:0;bottom:0;right:0;visibility:hidden;opacity: 0;z-index: 1;}
.rotate-image-container:hover .img-rotate-image {opacity: 1;visibility: visible}
/* Custom Grid */
.category-info .category-name{
	margin-top: 0;
}
.category-info .category-des{
	margin: 20px 0;
	text-transform: capitalize;
}
.item-inner {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.col-lg-divide-5, .col-md-divide-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.category-options{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
@media (min-width: 992px) {
    .col-md-divide-5 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    #content .col-md-divide-5:nth-child(5n+1) {
        clear: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-divide-5 {
        width: 20%;
        float: left;
    }
    #content .col-lg-divide-5:nth-child(5n+1) {
        clear: left;
    }
}
@media(max-width: 991px){
	.btn-grid-3,
	.btn-grid-4,
	.btn-grid-5{
		display: none;
	}
}
@media(max-width: 640px){
	
}
@media(max-width: 560px){
	
}