{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-discount" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-days" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-days"><span data-toggle="tooltip" title="{{ help_days }}">{{ entry_days }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="days" value="{{ days }}" placeholder="{{ entry_days }}" id="input-days" class="form-control" />
			  <input type="hidden" name="id" value="{{ id }}" id="input-id" class="form-control" />
            </div>
          </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label" for="input-number"><span data-toggle="tooltip" title="{{ help_number }}">{{ entry_number }}</span></label>
		    <div class="col-sm-10">
		      <input type="text" name="number" value="{{ number }}" placeholder="{{ entry_number }}" id="input-number" class="form-control" />
		    </div>
		  </div>
        </form>
      </div>
    </div>
  </div>
{{ footer }}