.cloud-zoom-lens {border: 3px solid #333;margin: 0px;background-color:#fff;cursor:move;}
.cloud-zoom-title {position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big {border:3px solid #333;overflow:hidden;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}
#product-cloud-zoom,
#product-cloud-zoom img{
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
}
@media(max-width: 1024px){
	.mousetrap,
	.cloud-zoom-lens,
	.cloud-zoom-big{
		display: none !important;
	}
}