<div class="category-module">
	<h3>{{heading_title}}</h3>
	<ul class="list-unstyled">
	{% for category in categories %}
		{% if category.category_id == category_id %} 
			<li><a href="{{ category.href }}" class=" active">{{ category.name }}</a>
			{% if category.children %}
				<ul class="list-child">
				{% for child in category.children %}
					{% if child.category_id == child_id %}
						<li><a href="{{ child.href }}" class=" active">{{ child.name }}</a></li>
					{% else %} 
						<li><a href="{{ child.href }}" class="">{{ child.name }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endif %}
			</li>
		{% else %}
			<li><a href="{{ category.href }}" class="">{{ category.name }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
