@import url('https://fonts.googleapis.com/css?family=Merienda');
body {
    font-family: 'Merienda','Microsoft Yahei' ,cursive;
	font-weight: 400;
	color: #595959;
	font-size: 15px;
	line-height: 24px;
	width: 100%;
	letter-spacing: .02em;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	line-height: 1;
	text-transform: uppercase;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */

@media (min-width:1200px){
	.container{
		width:1200px
	}
}
@media (min-width:1360px){
	.container{
		width:1280px
	}
}

@media (min-width:1440px){
	.container{
		width:1360px
	}
}

@media (min-width:1600px){
	.container{
		width:1420px
	}
}

@media (min-width:1920px){
	.container{
		width:1600px
	}
}

a {
	color: #595959;
	cursor: pointer;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #ff7f7f;
}
img{
	max-width: 100%; 
	height: auto;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #ff7f7f;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #ff7f7f;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #ff7f7f;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #ff7f7f;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #ff7f7f;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ff7f7f;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #ff7f7f;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ff7f7f;
}
.tooltip-inner{
	background: #ff7f7f;
}
.alert{
	text-align: center;
	font-size: 13px;
	margin: 0;
	border-radius: 0;
	border: none;
}
/* transition */
#slides{
	-webkit-transition: ease-in-out transform .3s;
	-moz-transition: ease-in-out transform .3s;
	transition: ease-in-out transform .3s;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff !important;
	background-color: #ff7f7f !important;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: none;
	background: #333 !important;
	padding: 0px 40px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff !important;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 0px;
	font-weight: 700;
}
#button-voucher,
#button-coupon{
	line-height: 34px;
	height: 34px;
	margin-left: 10px;
	/* border-radius: 3px; */
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
.modal-backdrop.in{
	opacity: .8;
}
#modal-agree{
	z-index: 30010;
}
/* header */
header{
	background: #fff;
}
@media(min-width: 1025px){
	.common-home header{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 113;
		border-bottom: 1px solid rgba(255,255,255,.2);
		background: none;
	}
}
.block-right{
	padding: 0;
	float: right;
	position: relative;
	z-index: 1000;
}
.container-fix{
	float: left;
	width: 100%;
}
.common-home .block-right > div{
	border-right-color: rgba(255,255,255,.2);
}
.common-home .search-containers{
	border-left-color: rgba(255,255,255,.2);
}
.search-containers{
	border-left: 1px solid rgba(0,0,0,.07);
}
.block-right > div{
	float: right;
	border-right: 1px solid rgba(0,0,0,.07);
}
.btn-click:focus,
.btn-click:active,
.btn-click:hover{
	/* color: #ff7f7f !important; */
}
.btn-click{
	font-size: 26px;
	color: #333;
	line-height: 80px;
	height: 80px;
	width: 80px;
	display: block;
	cursor: pointer;
	padding: 0;
	text-align: center;
}
.common-home .btn-click{
	color: #fff;
}
.logo-container{
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: left;
	float: left;
	position: relative;
	z-index: 1;
}
#search-by-category,
#top{
	display: none;
}
.search-containers .btn-close{
	position: fixed;
	top: 14%;
	right: 20%;
}
.search-containers.bg-popup::before{
	background: rgba(0,0,0,.95);
	background: rgba(0,0,0,.95);
}
.bg-popup::before{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.25);
	z-index: 10000;
}
#top{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	max-width: 375px;
	z-index: 10001;
	text-align: center;
	padding: 30px;
	overflow: auto;
}
#top ul{
	text-align: left;
}
#top ul .btn-group > ul{
	padding: 0;
	margin: 0;
}
#top ul .btn-group ul li:not(:last-child)::after{
	content: "";
	width: 18px;
	height: 1px;
	background: #cccccc;
	display: block;
	top: 50%;
	right: 10px;
	position: absolute;
}
#top ul .btn-group li:not(:last-child){
	padding-right: 40px;
}
#top > ul > li:not(:last-child){
	margin-bottom: 40px;
}
#top ul .btn-group ul li{
	display: inline-block;
	position: relative;
}
#top ul .btn-group ul li > *.item-selected,
#top ul .btn-group ul li > *:hover{
	color: #ff7f7f;
}
#top ul .btn-group ul li > *{
	color: #7e7e7e;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 !important;
	border: none;
	text-decoration: none;
}
#top ul .btn-group > span{
	color: #333333;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}
@media(max-width: 1600px){
	#top{
		/* max-width: 300px; */
		/* max-height: 960px; */
	}
}
.btn-close:hover{
	color: #ff7f7f;
}
.btn-close{
	cursor: pointer;
	font-size: 26px;
	color: #595959;
}
/* menu */
.main-menu .row{
	margin: 0;
}
.main-menu .sub-col,
.main-menu .main-col{
	padding: 0;
}
.main-menu .container{
	width: 100%;
	padding: 0;
}
/* search */

/* title */
.dn-title .module-title{
	display: none;
}
.title2 .module-title h2{
	background: none;
	margin: 0;
	padding: 20px 0 10px;
}
.module-title h2{
	font-size: 24px;
	font-weight: 900;
	margin: 0 0 5px 0;
	line-height: 20px;
	background: url('../image/bg-title.png') center no-repeat;
	padding: 30px 0 20px;
}
.module-description{
	font-weight: 300;
	width: 40%;
	margin: 0 auto;
	font-size: 16px;
}
.module-title{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 50px;
}
/* newsletter popup */
.b-close{
	display: block;
}
.b-modal{
	z-index: 100000 !important;
}
.newletter-popup{
	z-index: 100000 !important;
	background: #fff;
	top: 50% !important;
	left: 50% !important;
	position: fixed !important;
	padding: 50px;
	text-align: center;
	display: none;
	width: 60%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#boxes .newletter-title h2{
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 0 20px;
}
#boxes .box-content label{
	font-weight: 400;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 50%;
	margin: 20px 0;
	padding: 0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	position: absolute;
	right: 0;
	top: -25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #222;
	cursor: pointer;
	padding: 0 10px;
	color: #fff;
}
/* newsllter */
body:not(.common-home) .newletter-subscribe-container{
}
.newletter-subscribe-container .container{
	width: 100%;
	padding: 0;
	/* text-align: center; */
}
.newletter-subscribe-container{
	clear: both;
}
#dialog-normal .newsletter-des strong{
	color: #333333;
}
#dialog-normal .newsletter-des{

}
#dialog-normal .newletter-title{
	font-size: 28px;
	color: #212121;
	margin: 0px;
	margin-bottom: 15px;
	font-weight: 900;
}
#dialog-normal .newleter-content label{
	font-size: 12px;
	color: #999999;
}
#dialog-normal .newletter-title label{
	color: #bebebe;
	margin: 0;
}
#dialog-normal .newletter-title{
	
}
#dialog-normal .newleter-content{
    max-width: 570px;
	margin: 0 auto;
}
#subscribe_email{
	background: #fff;
	border: none;
	border: 2px solid rgba(0,0,0,.07);
	border-radius: 0px;
	padding: 0 70px 0 20px;
	overflow: hidden;
	color: #bbbbbb;
	width: 100%;
	text-transform: capitalize;
	font-size: 13px;
	line-height: 50px;
	height: 50px;
}
#frm_subscribe-normal #subscribe{
	position: relative;
	margin: 15px 0 0;
}
#subscribe_email::-webkit-input-placeholder{
  color: #bbbbbb;
}
#subscribe_email::-moz-placeholder{
  color: #bbbbbb;
}
#subscribe_email:-ms-input-placeholder{
  color: #bbbbbb;
}
#subscribe_email:-moz-placeholder {
  color: #bbbbbb;
}
#subscribe .btn i{
	font-size: 21px;
}
#subscribe .btn span{
	font-size: 0;
}
#subscribe .btn:hover{
	background: #333 !important;
}
#subscribe .btn{
	background: #ff7f7f !important;
	color: #fff !important;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0;
}
#subscribe .btn:hover{
	/* background: #ff7f7f !important; */
	/* color: #fff !important; */
}
#notification-normal{
	clear: both;	
	text-align: left;
}
#notification-normal div{
	color: #ff7f7f;
	padding: 10px 0;
}
#notification-normal div.warning{
	color: #f00;
}
/* blog */
#blog_home .aritcles-content{
	padding: 25px 0 0;
}
#blog_home .articles-name + p{
	color: #abaaaa;
	font-size: 13px;
	text-transform: capitalize;
	margin: 10px 0;
}
#blog_home .articles-name:hover{
	color: #ff7f7f;
}
#blog_home .articles-name{
	color: #333333;
	font-size: 18px;
	font-weight: 700;
}
#blog_home .readmore a:hover{
	color: #ff7f7f;
}
#blog_home .readmore a{
	color: #333333;
	font-size: 16px;
	font-weight: 300;
	text-decoration: underline;
	text-transform: capitalize;
}
#blog_home .readmore{
	/* margin-bottom: 30px; */
}
#blog_home .articles-intro{
	line-height: 24px;
	font-size: 18px;
	margin: 0 0 20px 0;
	font-weight: 300;
}
#blog_home{
	margin-bottom: 75px;
}
#blog_home .articles-container{
	/* padding: 15px 0 0 15px; */
	/* border: 1px solid #ebebeb; */
	/* border-top: none; */
}
#blog_home .row_items{
	/* text-align: center; */
	/* padding: 0 15px 0 0; */
}
.view_all{
	color: #7a7a7a;
	font-size: 13px;
	text-align: right;
	float: right;
	margin: 0;
	display: inline-block;
	padding-right: 15px;
}
.cart-container{
	width: 12.5%;
	padding: 35px 0;
}
#cart{
	/* width: auto; */
}
#cart-total .total-price{
	display: none;
}
#cart-total .txt_items{
	display: none;
}
.common-home #cart-total .txt_number{
	color: #333333;
	background: #fff;
}
#cart-total .txt_number{
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background: #ff7f7f;
	border-radius: 100%;
	min-width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	display: block;
}
#cart-total{
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 15px;
}
#cart-total .total-price{
	/* font-weight: 500; */
	/* color: #ff7f7f; */
	/* font-size: 14px; */
	/* text-transform: capitalize; */
	/* display: block; */
}
#cart > button{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	display: block;
	float: none;
}
#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}
#cart .dropdown-menu::before{
	/* content: ""; */
	/* width: 0; */
	/* height: 0; */
	/* border-style: solid; */
	/* border-width: 0 7px 9px 7px; */
	/* border-color: transparent transparent #fff transparent; */
	/* top: -9px; */
	/* right: 35px; */
	/* position: absolute; */
}
#cart .dropdown-menu{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	min-width: 370px;
	margin: 0;
	padding: 10px;
	top: 100%;
}
#cart-total .item-cart{
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: #ff7f7f;
	border: 2px solid #fff;
	color: #fff;
	top: -8px;
	left: 32px;
	border-radius: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400 !important;
}
#cart .dropdown-menu {
    padding: 0px 20px 0 20px;
}
#cart .cart-empty{
	padding: 20px 0;
}
#cart .dropdown-menu p{ 
	margin: 0;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr > td{
	padding: 20px 0;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
}
#cart .cart-close button{
	background: none;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	margin: 0;
}
#cart .cart-close i{
	font-size: 12px;
	color: #595959;
	height: 15px;
	width: 15px;
	float: left;
	/* background: url('../image/bg-btn-close-item-cart.jpg') no-repeat center; */
}
#cart .cart-quantity{
	color: #737373;
	margin: 8px 0 !important;
	font-size: 12px;
}
#cart .info-item a:hover{
	color: #ff7f7f;
}
#cart .info-item a{
	color: #333333;
	text-transform: capitalize;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
}
#cart .cart-price{
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
#cart .cart-button{
	/* margin: 0 -20px !important; */
	padding: 25px 0px 10px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: #fff;
	text-align: center;
}
#cart p.cart-button a:last-child{
	margin-right: 0;
	margin-bottom: 0;
}
#cart p.cart-button a{
	background: #212121;
	color: #fff;
	line-height: 1;
	text-align: center;
	padding: 13px 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 15px;
	margin-bottom: 15px;
	/* border-radius: 3px; */
	font-weight: 700;
	width: auto;
}
#cart p.cart-button a:hover{
	background: #ff7f7f;
}
#cart p.cart-button a:hover i{
	color: #fff;
}
#cart p.cart-button a i{
	padding-left: 5px;
	font-size: 10px;
	color: #434343;
	display: none;
}
#cart .dropdown-menu .info-item{
	padding-left: 10px !important;
}
#cart .dropdown-menu .has-scroll tr{
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
#cart .dropdown-menu{
	max-height: 400px;
	overflow: auto;
	box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
}
#cart .dropdown-menu tr td strong{
	color: #000;
}
#cart .dropdown-menu tr td:first-child{
	color: #333333;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 14px;
}
#cart .dropdown-menu tr td:last-child{
	color: #363636;
	font-size: 16px;
	font-weight: 500;
}
.unvisible{
	display: none;
}
.fix-header .ul-top-items li{
	display: inline-block !important;
	float: none !important;
	background: none !important;
}
.fix-header .ul-top-items{
	text-align: center;
}
.common-home .fix-header:hover{
	background: rgba(0,0,0, 1) !important;
}
.common-home .fix-header{
	background: rgba(0,0,0, .7) !important;
}
.fix-header:hover{
	background: rgba(255,255,255, 1) !important;
}
.fix-header{
	top: 0;
	position: fixed !important;
	background: rgba(255,255,255, .85) !important;
	width: 100%;
	left: 0;
	z-index: 100000;
	margin: 0;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}
.common-home .fix-header-act{
	background: rgba(0,0,0, 1) !important;
}
.fix-header-act{
	background: rgba(255,255,255, 1) !important;
	z-index: 10001;
}
/* cms block */
.col-img{
	text-align: center;
}
.banner-sidebar:hover img{
	/* opacity: .8 */
}
.banner-sidebar{
	margin-bottom: 30px;
	text-align: center
}
.logo-f{
	margin-bottom: 25px;
}
.contact-info{
}
.contact-info li i{
	margin-right: 15px;
	font-size: 21px;
	color: #f0f0f0;
	vertical-align: middle;
}
.contact-info li span{
	color: #f0f0f0;
}
.contact-info li{
	font-size: 15px;
	margin-bottom: 15px;
}
.social-footer li a:hover i{
	background: #ff7f7f !important;
	color: #fff !important;
	opacity: 1!important;
	border: 1px solid #ff7f7f!important;
}
.social-footer li a{
	text-align: center;
}
.social-footer li a i{
	color: #f0f0f0;
	font-size: 16px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #f0f0f0;
	opacity: 0.5;
}

.social-footer ul{
	margin: 0;
	padding: 0;
}
.social-footer{
	padding: 30px 0 0;
}
#top .social-footer{
	/* padding: 0; */
}
#top.p-social .social-footer{
	position: absolute;
	bottom: 30px;
}
.social-footer li{
	display: inline-block;
	margin: 0 10px 5px 0;
}
.static-policy{
	border-top: 1px solid rgba(0,0,0,.07);
	padding: 50px 0;
	float: left;
	width: 100%;
}
.static-policy .text-content p{
	font-size: 14px;
	color: #595959;
	font-weight: 300;
	margin: 0;
}
.static-policy .text-content h2{
	font-size: 15px;
	color: #333333;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
}
.static-policy .text-content{
	float: left;
	width: calc(100% - 40px);
	padding-left: 10px;
}
.static-policy .col-img{
	float: left;
	width: 40px;
}
.static-policy .col-img i{
	font-size: 42px;
	color: #ff7f7f;
}
.cmsblock img:hover{
	/* opacity: .8; */
}
.banner-1 .col-img{
	margin-bottom: 30px;
}
.banner-1 .cols{
	position: relative;
}
.banner-1 .text-content{
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
}
.banner-1 .text-content a:hover{
	background: #ff7f7f;
	color: #fff;
}
.banner-1 .text-content a{
	font-size: 14px;
	color: #333333;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 8px 40px;
	box-shadow: 0px 1px 6.79px 0.21px rgba(0, 0, 0, 0.13);
	background: #fff;
	display: inline-block;
	text-transform: uppercase;
}
.banner-1{
	padding-top: 30px;
	margin: 0 -15px;
}
.banner-2 .col-img:not(:last-child){
	margin-bottom: 30px;
}
.banner-2 {
	margin: 0 -15px;
}

.banner-9{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.banner-9 .item{
	flex:1;
	padding:10px;
}

.banner-9 .col-img{
	margin-bottom: 0px;
	padding:20px;
}

.banner-9 .text-content{
	position: relative;
	bottom:0;
}

.banner-9 .text-content a{
	padding:0;
	background: none;
	box-shadow: none;
	text-transform: capitalize;
}

.banner-3 {
    background: #F6F6F6 url(../image/banner3.jpg) center no-repeat;
    min-height: 600px;
}

@media screen and (min-width:1024px) {

}

.about-us-static .short-aboutus{
	color: #888787;
	font-size: 14px;
	line-height: 24px;
}
.about-us-static .img-logo{
	margin-bottom: 15px;
}
.about-us-static{
	padding: 25px 0 30px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin-bottom: 40px;
}
/* owl carousel */
.owl-theme .owl-nav{
	margin: 0;
}
.owl-theme .owl-dots{
	text-align: center;
}
.owl-theme .owl-dots .owl-dot{
	display: inline-block;
	line-height: 1;
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span{
	border-color: #ae307c;	
}
.owl-theme .owl-dots .owl-dot span{
	width: 10px;
	height: 10px;
	border: 1px solid #333333;
	border-radius: 0;
	background: none !important;
	display: inline-block;
	margin: 0 5px;
}
.owl-carousel:hover .owl-nav [class*="owl-"]{
	opacity: 1;
}
.owl-theme .owl-nav [class*="owl-"]{
	position: absolute;
	top: 50%;
	margin: -30px 0 0;
	background: #fff !important;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #333333;
	opacity: 0;
	border-radius: 0px;
	padding: 0;
	border: none;
	box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
}
.owl-nav > .owl-next{
	right: -30px;
}
.owl-nav > .owl-prev{
	left: -30px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
	color: #ff7f7f;
	border-color: #ff7f7f;
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]{
	width: 20px;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
	background: none !important
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]{
	border: none;
	color: #595959;
	background: none;
	box-shadow: none;
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"]:hover{
	color: #ff7f7f;
}
.owl-style2  .owl-nav > .owl-next{
	right: -40px;
}
.owl-style2  .owl-nav > .owl-prev{
	left: -40px;
}
.owl-style2 .owl-theme .owl-nav [class*="owl-"] i{
	font-size: 32px;
	line-height: 40px;
}
.owl-nav [class*="owl-"] i{
	font-size: 24px;	
	line-height: 60px;
}
/* banner-ourbrands */
.banner-ourbrands .item img{
	display: inline-block;
}
.banner-ourbrands{
	padding: 38px 0;
	border-top: 1px solid rgba(0,0,0,.07);
}
.banner-ourbrands .owl-carousel .owl-item:not(:hover) img{
	/* opacity: .3; */
	/* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ */
    /* filter: grayscale(100%); */
}
.banner-ourbrands .owl-carousel .owl-item{
	padding: 0;
}
.banner-ourbrands .module-title{
	display: none;
}
.banner-ourbrands .owl-item.active{
	position: relative;
}
/* breadcrumbs */
.breadcrumb{
	padding: 75px 0;
	margin: 0;
	background: none;
	/* border-bottom: 1px solid #999999; */
	border-radius: 0;
	text-align: center;
}
.breadcrumb  a:hover{
	color: #ff7f7f;
}
.breadcrumb li.extend-item{
	display: block;
}
.breadcrumb li.extend-item h1{
	color: #fff;
	font-size: 36px;
	font-weight: 900;
	margin: 0 0 15px;
}
.breadcrumb li:last-child a{
	/* color: #fff; */
}
.breadcrumb > li + li::before,
.breadcrumb a{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}
.breadcrumb > li.extend-item + li::before{
	display: none;
}
.breadcrumb > li + li::before{
	content: "\f3d3";
	font-family: "Ionicons";
	padding: 0 15px;
	font-size: 12px;
}
.common-home .breadcrumbs{
	display: none;
}
.breadcrumbs{
	clear: both;
	background: #f9f9f9 url('../image/bg-breadcrumb.jpg') no-repeat center;
	margin-bottom: 50px;
}
/* product detail */
body[class^=product-product] #content{
	background: #fff;
	padding: 20px;
}
.block-1{
	margin-bottom: 30px;
}
.block-1 .thumbnail{
	padding: 0;
	border-radius: 0;
	border: none !important;
	margin: 0;	
}
.block-1.owl-style2 .owl-nav > .owl-next{
	right: 0;
}
.block-1.owl-style2 .owl-nav > .owl-prev{
	left: 0;
}
.block-1.owl-style2 .additional-images .item.current img{
	border: 1px solid #ff7f7f
}
.block-1.owl-style2 .additional-images{
	padding: 0 0px;
}
.image-additional-container .thumbnail{
	opacity: .2
}
.image-additional-container{
	padding: 0 85px;
}
.image-additional-container .current-additional.thumbnail,
.image-additional-container .thumbnail:hover{
	/* border-color: #ebebeb; */
	/* border-radius: 3px; */
	opacity: 1;
}
.image-additional-container .thumbnail{
	/* border: 2px solid transparent; */
}
.image-additional-container .owl-item {
	padding: 0;
}
.block-2 .product-name{
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	color: #333333;
	text-transform: capitalize;
	line-height: 1;
}
.block-2 .product-name + p{
	margin: 10px 0 0;
}
.block-2 .product-name + p a{
	text-transform: capitalize;
}
.block-2 .ratings .rating-box{
	display: inline-block;
	/* margin-right: 10px; */
}
.block-2 .ratings .rating-box div[class^="rating"]{
    background-position: left;
	width: 73px;
}
.block-2 .ratings span,
.block-2 .ratings a{
	font-size: 12px;
	color: #a5a5a5;
	vertical-align: bottom;
}
.block-2 .ratings a{
	margin: 0 10px
}
.block-2 .ratings{
	margin: 10px 0 5px;
	display: block;
}
.block-2 .list-unstyled hr{
	color: #ebebeb;
}
.block-2 .list-unstyled{
	color: #333333;
	clear: both;
	line-height: 24px;
	font-size: 14px;
	text-transform: capitalize;
}
.block-2 .price-product .new-price{
	margin-right: 10px;
}
.block-2 .price-product .old-price{
	font-size: 18px;
	color: #a4a4a4;
	text-decoration: line-through;
}
.block-2 .price-product .price-old{
	margin-left: 10px;
	font-size: 16px;
}
.block-2 .price-product{
	font-size: 36px;
	color: #333333;
	margin-bottom: 25px;
	/* font-weight: 700; */
	margin-top: 30px;
	font-weight: bold;
	color:#ff7f7f;
}
.block-2 .ex-text{
	color: #ff7f7f;
	margin-left: 5px;
	/* font-weight: 400; */
}
.block-2 .short-des{
	margin: 25px 0 30px;
	color: #666666;
	line-height: 26px;
	font-size: 16px;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    float: left;
    height: 23px;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 32px;
    font-size: 20px;
    border-radius: 0px;
	border: none;
	background: none;
	padding: 0;
	/* color: #666666; */
	/* font-size: 16px; */
	/* font-weight: 700; */
	line-height: 1;
}
#input-quantity2,
#input-quantity {
    height: 46px;
}
label[for='input-quantity']{
	float: left;
	line-height: 48px;
	margin-right: 30px;
	color: #2c2c2c;
	font-weight: 400;
}
#button-cart2 i,
#button-cart i{
	font-size: 24px;
	display: none;
}
#button-cart2,
#button-cart{
	margin: 30px 10px 30px 0;
	float: left;
	height: 50px;
	padding: 0 25px;
	border-radius: 0px;
	background: #333333 !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff !important;
}
#button-cart2:hover,
#button-cart:hover{
	background: #ff7f7f !important;
	/* color: #fff !important; */
	/* border-color: #ff7f7f; */
}
.btn-actions{
	float: left;
	margin: 30px 0px 30px 0;
}
.btn-actions button:not(:last-child){
	margin-right: 10px;
}
.btn-actions button.btn-compare span, 
.btn-actions button.btn-wishlist span{
	font-size: 0;
}
.btn-actions button.btn-compare i, 
.btn-actions button.btn-wishlist i{
	font-size: 21px;
	color: #333333;
}
.btn-actions button.btn-compare, 
.btn-actions button.btn-wishlist {
    width: 50px;
	height: 50px;
	display: inline-block;
	border: 2px solid #ededed;
	border-radius: 0;
	padding: 0;
	text-align: center;
}
.btn-actions button.btn-compare:hover, 
.btn-actions button.btn-wishlist:hover {    
    background-color: transparent !important;
    border-color: #ff7f7f;
}
.btn-actions button.btn-compare:hover i, 
.btn-actions button.btn-wishlist:hover i{    
	color: #ff7f7f;
}
#product2,
#product{
	clear: both;
}
.has-option{
	/*max-height: 300px;*/
	overflow: auto;
	/*border: 1px solid #ececec;*/
	padding: 0 20px;
	margin-top: 20px;
	background:#f9f9f9;
}
.option-container + div{
	margin: 30px 0;
}
.quantity-box{
	border-radius: 3px;
	width: 70px;
	border: 1px solid #ececec;
	float: left;
	/* padding: 15px 0; */
}
.block-3{
	padding: 0;
}
.block-3 .tab-content{
	padding: 30px 0px;
	/* margin-bottom: 60px; */
	border: none;
	/* border-top:  none; */
}
#tab-review #review i{
	color: #ff7f7f;
}
#tab-review #review{
	max-height: 300px;
	overflow: auto;
}
.block-3 .tab-content .tab-pane #review,
.block-3 .tab-content .tab-pane:not(#tab-review){
	max-height: 300px;
	overflow: auto;
	/* padding: 0 25px; */
	line-height: 28px;
}
.block-3 .tab-content .tab-pane#tab-review{
	padding: 0 25px;
}
.block-3 .nav-tabs{
	margin: 40px 0 0 0;
	border: none;
	text-align: center;
	position: relative;
	background: #f3f3f3;
	padding: 15px 0;
}
.block-3 .nav-tabs li:hover a,
.block-3 .nav-tabs li.active a{
	color: #ff7f7f;
	/* background: #212121 !important; */
	/* border-color: #212121; */
}
.block-3 .nav-tabs li a{
	color: #333333;
	border-radius: 0px;
	margin: 0 0 -1px 0;
	padding: 10px 25px;
	background: none !important;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: none !important;
}
.block-3 .nav-tabs li:last-child a{
	/* border-right: none !important; */
}
.block-3 .nav-tabs li{
	display: inline-block;	
	float: none;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
	z-index: 999;
	position: relative;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}
.box-timer .countdown-period{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #fff;
}
.box-timer .countdown-section:not(:last-child){
	margin-right: 2px;
}
.box-timer .countdown-section .countdown-amount{
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: 1;
	margin: 10px 0 3px;
	display: block;
}
.box-timer .countdown-section{
	display: inline-block;
	/* border-radius: 3px; */
	/* border: 1px solid #ebebeb; */
	background: #58d173;
	height: 60px;
	width: 80px;
	text-align: center;	
}
.product-layout:hover .box-timer{
	/* opacity: 1; */
}
.box-timer{
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
	text-align: center;
	/* opacity: 0; */
}
/* footer */
#back-top:hover{
	background: rgba(131, 181, 59, 1)
}
#back-top{
	position: fixed;
	bottom: 30px;
	right: 20px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background: rgba(131, 181, 59, .8);
	text-align: center;
	cursor: pointer;
	z-index: 999;
}
#back-top i{
	font-size: 20px;
	line-height: 50px;
	color: #fff;
}
body:not(.common-home) footer{
	margin-top: 70px;
}
footer{
	background: #ffffff;
}
.title-footer{
	color: #f0f0f0;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin: 20px 0 15px;
}
.col-f ul li a:hover{
	color: #ff7f7f
}
.col-f ul li a{
	line-height: 28px;
	/* font-size: 15px; */
}
.top-footer ul{
	margin: 0;
}
.top-footer{
	padding: 0px 0 30px;
	background:#333;
}
.top-footer .container{
	color:#f0f0f0;
	padding-top:30px;
}
.top-footer .container a{
	color:#f0f0f0;
}
.bottom-footer{
	border-top: 1px solid #ededed;	
	background: #ededed;
}
.bottom-footer .bottom-container{
	border-top: 1px solid #ededed;
	padding: 10px 0;
	margin: 0;
	background: #ededed;
}
.copyright-text a{
	color: #ff7f7f;
}
.copyright-text{
	font-size: 14px;
	text-transform: capitalize;
	margin: 0;
	float: left;
}
.payment{
	text-align: right;
	float: right;
}
.category-module{
	margin-bottom: 50px;
}
.category-module h3{
	color: #222;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	width: 100%;
	padding: 7px 15px;
	margin: 0;
	line-height: 40px;
}

.category-module h3:after{
	content:"";
	width:50%;
	height: 1px;
	display: block;
	background: #222;
	margin-top: 10px;
}
.category-module ul ul{
	padding-left: 20px;
}
.category-module > ul {
    margin: 0;
	border: 1px solid #ededed;
	border-top: none;
	background: #fff;
	padding: 10px 20px;
}
.category-module li{}
.category-module li a.active{
	color: #ff7f7f
}
.category-module li a{

}
.category-module li{
	/* padding: 5px 0; */
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
}
.related-products{
	clear: both;
}
.related-products  .product-des{
	display: none;
}
.featured-cat-thumb .owl-theme .owl-nav [class*="owl-"]{
	top: -67px;
	margin-right: -300px;
	border: 1px solid #cbcbcb !important;
}
.featured-cat-thumb{
	margin: 55px 0 60px;
}
.featured-categories-container .featured-categories-contents{
	padding: 0;
	width: 48.68%
}
.featured-cat-thumb .module-title{
	margin: 0 0 35px 0;
}
.featured-categories-container .row{
	margin: 0;
}
.featured-categories-container .module-image{
	padding: 0;
	width: 25.66%;
	border: 1px solid rgba(0,0,0,.1);
	float: left;
}
.featured-categories-container .module-image.module-image2{
	float: right;
}
.owl-featured-categories .fcategory-content:last-child .content-thumb{
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.owl-featured-categories .content-thumb:hover img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.owl-featured-categories .content-thumb{
	border-top: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	text-align: center;
}
.owl-featured-categories .content-thumb .name{
	display: none;
}
/* custom-category */
.products-container .two-items:nth-child(2n+1),
.products-container .three-items:nth-child(3n+1),
.products-container .four-items:nth-child(4n+1),
.products-container .five-items:nth-child(5n+1){
	clear: both;
}
.custom-category .product-grid  .product-des{
	display: none;
}
.toolbar{
	position: relative;
	float: left;
	width: calc(100% - 15px );
	margin-bottom: 5px;
	/* padding: 0 15px; */
}
.toolbar::before{
	/* content: ""; */
	/* background: #d9d9d9; */
	/* height: 1px; */
	/* left: 15px; */
	/* right: 0; */
	/* bottom: 0; */
	/* position: absolute; */
}
.toolbar .btn:hover,
.toolbar .btn.active{
	border-color: #ff7f7f;
	background: #ff7f7f;
	color: #fff;
}
.toolbar .form-control{
	background: #fff !important;
	border-color: #fff !important;
}
.toolbar .btn{
	width: 40px;
	height: 40px;
	color: #333;
	background: #f8f5f0;
	border:none;
	border-radius: 0;
	box-shadow: none;
	margin-right: 5px;
}
.toolbar .form-group > *{
	margin: 5px 0;
	height: 30px;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	font-size: 14px;
}
.toolbar .form-group select{
	border: 1px solid #e5e5e5;
	margin-left: 10px;
	text-align: center;
}
.toolbar .form-group{
	margin: 0;
	height: 40px;
	color: #404040;
	
}
.toolbar .text-right,
.toolbar .pagination{
	margin: 15px 0 0;
	padding-right: 0;
}
.pagination{
	margin: 0;
	display: block;
}
.pagination > li.active > span, .pagination > .active > a, 
.pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, 
.pagination > .active > span:hover, .pagination > li > a:focus, 
.pagination > li > a:hover, .pagination > li > span:focus, 
.pagination > li > span:hover {
    border-color: #ff7f7f !important;
    background-color: #ff7f7f !important;
    color: #FFF !important;
}
.pagination > li > a, .pagination > li > span{
	border: 1px solid #ededed;
	border-radius: 0px !important;
	background: #fff !important;
	color: #333333 !important;
	font-size: 14px;
	padding: 0 5px;
	margin: 0 3px;
	width: 36px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
}
.custom-category .products-container .product-grid .action-link2 button:not(.btn-wishlist),
.custom-category .products-container .product-list .actions-link{
	display: none;
}
.custom-category .product-layout{
	/* padding: 0 5px; */
}
.custom-category .product-list .price{
	min-height: auto;
	margin-bottom: 15px;
}
.custom-category .product-list .btn-compare,
.custom-category .product-list .btn-wishlist{
	/* max-width: 100px; */
	/* height: 40px; */
	/* display: inline-block; */
}
.custom-category .product-list .action-link2 button{
	float: left;
}
.custom-category .product-list .action-link2 button:not(:last-child){
	margin-right: 10px;
}
.custom-category .product-list .action-link2 button i{
	font-size: 21px;
	line-height: 46px;
	display: inline-block;
}
.custom-category .product-list .action-link2 button:not(.btn-cart):hover{
	border-color: #ff7f7f;
	color: #ff7f7f;
}
.custom-category .product-list .action-link2 button:not(.btn-cart){
	width: 50px;
	height: 50px;
	border: 2px solid #ededed;
	text-align: center;
	padding: 0;
}
.custom-category .product-list .action-link2 .btn-cart:hover{
	background: #ff7f7f;
}
.custom-category .product-list .action-link2 .btn-cart span{
	line-height: 50px;
}
.custom-category .product-list .action-link2 .btn-cart{
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	background: #333;
	text-transform: uppercase;
	height: 50px;
	padding: 0 25px;
}
.custom-category .product-list .action-link2 .btn-cart i{
	font-size: 0;
}
.custom-category .product-list .product-name{
	margin-bottom: 10px;
}
.custom-category .product-list .product-name a{
	/* color: #363636; */
	/* font-size: 20px; */
	/* font-weight: 700; */
}
.custom-category .product-list .product-thumb .product-inner{
	padding: 0px 15px;
}
.custom-category .product-list:not(:first-child) .product-thumb::before{
	/* content: ""; */
	/* position: absolute; */
	/* background: rgba(0,0,0,.1); */
	/* height: 1px; */
	/* left: 15px; */
	/* right: 15px; */
	/* width: calc(100% - 30px); */
	/* top: 0; */
}
.custom-category .product-list .product-thumb{
	padding: 20px 0;
	margin: 15px 0;
	position: relative;
}
.custom-category .product-grid .product-thumb{
	margin: 15px 0;
}
.price-countdown .tt-product{
	width: 50%;
	text-align: center;
}
.price-countdown{
	background: url('../image/bg-coundownt.jpg') center right no-repeat;
	min-height: 410px;
}
.price-countdown .btn-sn a{
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.price-countdown .btn-sn:hover{
	background: #333333
}
.price-countdown .btn-sn{
	background: none;
	border: none;
	box-shadow: none;
	padding: 9px 20px;
	margin: 30px 0 0;
	background: #ff7f7f;
}
.price-countdown .action-link2,
.price-countdown .price-container,
.price-countdown .ratings{
	display: none;
}
.price-countdown .l_sale{
	color: #ff7f7f;
	font-weight: 900;
	font-style: italic;
	height: auto;
	font-size: 32px;
	position: static;
	text-transform: capitalize;
	background: none;
	line-height: 1;
	margin-bottom: 25px;
}
.price-countdown .product-des{
	font-size: 16px;
	font-weight: 300;
}
.price-countdown .product-name{
	font-size: 32px;
	margin-bottom: 15px;
}
.price-countdown .action-link2{
	position: static;
}
.price-countdown .ratings .rating-box div[class^="rating"]{
	background-position: center;
}
.price-countdown .image{
	display: none;
}
.special-bg{
	background: #f9f9f9!important;
}
.special-bg .product-layout .product-thumb{
	background: none;
}
.price-countdown .product-inner{
	padding: 75px 0;
}
.price-countdown .manufacture-product a{
	font-size: 20px;
}
.price-countdown .countdown-row{
	border: 1px solid #ededed;
	border-radius: 3px;
	height: 70px;
	display: inline-block;
}
.price-countdown .box-timer .countdown-section:last-child{
	border: none;
}
.price-countdown .box-timer .countdown-section{
	background: none;
	margin: 0;
	border-right: 1px solid #ededed;
	height: 70px;
	width: 90px;
}
.price-countdown .box-timer .countdown-section .countdown-period{
	color: #595959;
	font-size: 12px;
}
.price-countdown .box-timer .countdown-section .countdown-amount{
	color: #333;
	margin: 15px 0 3px;
}
.price-countdown .box-timer{
	position: static;
}
.price-countdown .manufacture-product{
	display: block;
}
.div-product{
	padding: 80px 0;
}
.div-product .module-description{
	width: 100%;
}
.div-product .tt-product{
	float: left;
	width: 75%;
}
.div-product .module-title{
	margin-top: 100px;
	float: left;
	width: 25%;
	padding: 0 15px;
}
.special-testimonial{
	padding: 80px 0;
}
.special-testimonial .testimonial-text i{
	font-size: 40px;
	color: #ededed;
}
.special-testimonial .testimonial-text{
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.special-testimonial .testimonial-author{
	color: #333333;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: capitalize;
	margin: 20px 0 15px;
}
.special-testimonial .owl-item .row_items{
	background: #fff;
	opacity: .5;
	padding: 30px;
	float: left;
}
.special-testimonial .owl-item.active .row_items{
	opacity: 1
}
.special-testimonial .testimonial-images{
	padding-left: 0;
}
.special-testimonial{
	overflow: hidden;
}
.special-testimonial .owl-stage-outer{
	overflow: visible;
}
.special-testimonial .block-content{
	max-width: 870px;
	margin: 0 auto;
}
.zoom-img-h img{
	-webkit-transition: transform .6s;
	transition: transform .6s;
}
.zoom-img-h:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	
}
.zoom-img-h{
	overflow: hidden;
	text-align: center;
}
#instagram_block_home .row_items a:not(:last-child){
	margin-bottom: 15px;
}
.mfp-bg{
	z-index: 100001 !important
}
.mfp-wrap{
	z-index: 100002 !important
}
/* responsive */
@media(max-width: 1024px){
	.common-home header{
		background: #000;
	}
	.container-fix{
		float: left !important;
	}
	.block-right{
		padding: 0;
	}
	.block-right > div{
		border: none;
	}
	.b-modal,
	.newletter-popup{
		display: none !important;
	}
	.logo-container{
		text-align: center;
	}
	#logo a{
		display: inline-block;
	}
	.toolbar .btn{
		width: 35px;
	}
}
@media(max-width: 991px){
	.products-container .two-items:nth-child(2n+1),
	.products-container .three-items:nth-child(3n+1),
	.products-container .four-items:nth-child(4n+1),
	.products-container .five-items:nth-child(5n+1){
		clear: none;
	}
	.products-container .product-grid.item-inner{
		width: 50%;
	}
	.products-container .item-inner:nth-child(2n+1) {
		clear: both;
	}
	.container-fix{
		width: 100%;
	}
	.toolbar > div:nth-child(2n+1){
		clear: both;
	}
	#button-cart2, #button-cart{
		padding: 0 30px;
	}
	.static-policy > div{
		margin-bottom: 10px;
	}
	.price-countdown .tt-product{
		width: 100%;
	}
	.price-countdown{
		background: none;
	}
	.div-product .module-title{
		margin-top: 50px;
	}
	.price-countdown .box-timer .countdown-section{
		width: 70px;
	}
	.price-countdown .product-name{
		font-size: 25px;
	}
}
@media(max-width: 768px){
	.owl-theme .owl-nav [class*="owl-"]{
		display: none;
	}
}
@media(max-width: 767px){
	.custom-category .product-list .action-link2 button{
		margin-top: 10px;
	}
	input[name^="quantity["]{
		min-width: 40px;
		padding: 0;
		text-align: center;
	}
	.banner-2 .col-img,
	.banner-1 .col-img{
		margin-bottom: 30px;
	}
	.module-description{
		width: 100%;
		padding: 0 15px;
	}
	.div-product .module-description{
		padding: 0;
	}
	.special-testimonial .block-content{
		padding: 0 15px;
	}
	.special-testimonial .testimonial-text i{
		font-size: 30px;
	}
	.special-testimonial .testimonial-author{
		margin: 0 0 10px 0;
	}
	.top-footer .col-f:nth-child(2n+1){
		clear: both;
	}
	.top-footer .col-f{
		width: 50%;
		float: left;
	}
	.top-footer .col-f:not(:last-child){
		/* margin-bottom: 30px; */
	}
	#search-by-category{
		width: 100%;
		padding: 0 15px!important;
		left: 0;
	}
}
@media(max-width: 680px){
}
@media(max-width: 640px){
	.custom-category .product-list .btn-compare,
	.custom-category .product-list .btn-wishlist {
		max-width: none;
		width: 50%;
		margin-right: 0 !important;
	}
	.div-product .tt-product,
	.div-product .module-title{
		width: 100%;
	}
	.div-product{
		padding: 30px 0;
	}
	.div-product .module-title {
		margin-top: 0px;
	}
	.copyright-text{
		margin-bottom: 20px;
	}
	.bottom-footer .bottom-container > *{
		float: none !important;
		text-align: center!important;
	}
	.bottom-footer .bottom-container{
		text-align: center;
	}
}
@media(max-width: 560px){
	.price-countdown .countdown-row{
		width: 100%;
	}
	.price-countdown .box-timer .countdown-section{
		width: 25%;
		float: left;
	}
	.products-container .product-grid.item-inner{
		width: 100%;
	}
	.products-container .image{
		margin-bottom: 10px;
	}
	.products-container .image,
	.products-container .product-inner{
		width: 100%;
		padding: 0 15px !important;
	}
	.custom-category .product-list .btn-compare,
	.custom-category .product-list .btn-wishlist {
		width: auto;
		margin-right: 15px !important;
	}
}
@media(max-width: 480px){
	.logo-container{
		width: 100%;
	}
	.block-right{
		width: 100%;
		text-align: center;
	}
	.block-right > div{
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	#btn-search-category i{
		line-height: 50px;
		font-size: 30px;
	}
	#btn-search-category{
		width: 50px;
	}
	.search-container{
		width: calc( 100% - 50px );
	}
	#sp-btn-search,
	#btn-search-category,
	#text-search{
		height: 50px;
	}
	.special-testimonial .testimonial-images{
		margin-bottom: 20px;
	}
	.special-testimonial .testimonial-author{
		text-align: center;
	}
	.special-testimonial .testimonial-box,
	.special-testimonial .testimonial-images{
		width: 100%;
		padding: 0;
	}
	.cart-container{
		width: 100%;
		text-align: center;
	}
	.banner-3 .row > div{
		width: 100%;
	}
	#cart .dropdown-menu{
		min-width: 300px;
		right: 50%;
		transform: translateX(50%);
		left: auto;
	}
	.owl-dots,
	.owl-nav{
		display: none !important;
	}
	.static-policy .col{
		width: 100%;
	}
	#dialog-normal .newletter-title {
		font-size: 20px;
	}
	.top-footer .col-f{
		width: 100%;
	}
}
@media(max-width: 360px){
	
}
.product-input-number .btn-primary {
	vertical-align: top !important;
}
.product-input-number .form-control, .category-input-number .form-control {
	width: 70px !important;
	display: inline !important;
}

.layered-container{
	margin:0;
}

.category-module,.category-module > ul{
	background:#f8f5f0!important;
	border: none;
	padding:20px 20px 10px;
}

.category-module li a{
	font-size: 18px;
	text-transform: capitalize;
	color:#222;
	line-height: 50px;
}

 .category-info .category-des{
	display: none;
}

#content #compare-total{
	display: none;
}

.quantity-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: auto;
}


#product{

	margin:20px 0;
}

#product  .quantity-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
 .quantity-box #input-quantity, .quantity-box #minus, .quantity-box #plus{
 	float: none;
 	width:50px;
 	height: 50px;
 	display: block;
 }

 .quantity-box #minus, .quantity-box #plus{
 	background: #f0f0f0;
 }

 .quantity-box #plus{
 	order: 3;
 }
.quantity-box #input-quantity{
	order: 2;
	width:70px;
}

.quantity-box #minus{order: 1;}


.contact-info .item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contact-info .item .fa{
	width:50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	background: #f8f5f0!important;
	color:#444;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border: 1px solid #999;
}

 .contact-info .item .info{
 	padding:0 20px 20px;
 }

 .panel-default{
 	border: none;
 	box-shadow: none;

  }


.option-container h3{
  	font-size: 16px;
  	border-bottom: 1px solid #ccc;
  	margin-bottom: 20px;
  	padding-bottom: 20px;
  }

.option-container .form-group{
	margin-bottom: 30px;
}

.option-container [id*="input-"] .radio,.option-container .filling_taste > div{
	display: inline-block;
	width:45%;
	margin: 8px 0;
	
}



@media screen and (max-width:768px) {
	.option-container [id*="input-"] .radio,.option-container .filling_taste > div{
		display: inline-block;
		width:100%;
		margin: 5px 0;
		
	}	
}
.d_social_login .modal-dialog{
	max-width: 960px;
}

.form-control{
	height: 45px;
}

.form-group .forgotten{
	display: inline-block;
	line-height: 45px;
	margin-top: 10px;
}

legend{
	padding-bottom: 10px;
	margin-bottom: 10px;
}

fieldset{
	margin-top: 30px;
}

fieldset .form-group{
	display: inline-block;
	width:48%;

	margin:15px 1%;
}

fieldset .form-control{
	background: #f0f0f0;
	border: none;
	box-shadow: none;
}

@media screen and (max-width:768px) {
	fieldset .form-group{
		display: inline-block;
		width:100%;

		margin:15px 0;
	}
}


@media screen and (max-width: 765px) {

	header .container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
}


@media screen  and (max-width:768px){
	header{
		padding-top: 15px;
	}
	.logo-container{
		width:40%;
		padding-top: 0;
	}
	.block-right{
		width:60%;
	}

	.block-right .btn-click{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	#cart-total{
		top:0;
		right:0;
	}
	.main-menu{
		border-top: 1px solid #ddd;
	}

	.main-menu .row{
		width:100%;
	}

	.ul-top-items .li-top-item .a-top-link{
		padding:10px 0!important;
		font-size: 15px!important;
	}

	.category-info .category-name{
		font-size: 24px;
	}
}

@media screen  and (max-width:480px){
	header{
		padding-top: 15px;
	}
	.logo-container{
		width:40%;
		padding-top: 0;
	}
	.block-right{
		width:60%;
	}

	.block-right .btn-click{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	#cart-total{
		top:0;
		right:0;
	}
	.main-menu{
		border-top: 1px solid #ddd;
	}

	.main-menu .row{
		width:100%;
	}

	.ul-top-items .li-top-item .a-top-link{
		padding:10px 0!important;
		font-size: 15px!important;
	}
}


#account-account .list-unstyled{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin:30px 0;
}

#account-account .list-unstyled li{
	width:20%;
	text-align: center;
	margin: 20px 0;
}

#account-account .list-unstyled li a{
	transition: all 0.8s ease-in-out;
}

#account-account .list-unstyled li .pic{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background:#f0f0f0;
	margin:20px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.8s ease-in-out;
	border: 1px solid #fff;
}

#account-account .list-unstyled li a:hover .pic{
	background: #ff7f7f;
	border: 1px solid #ddd;
}

#account-account .list-unstyled li img{
	max-width:60px;
}

@media screen  and (max-width:1024px){
	#account-account .list-unstyled li{
		width:25%;
	}
}

@media screen  and (max-width:960px){
	#account-account .list-unstyled li{
		width:33.3333%;
	}
}

@media screen  and (max-width:768px){
	#account-account .list-unstyled li{
		width:50%;
	}
}


.account-item{
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

.account-item h2{
	border-bottom:1px solid #ccc;
	text-align: center;
	background: #f9f9f9;
	margin:0;
	line-height: 60px;
	font-size: 24px;
}



.account-edit,
.account-password,
.account-address,
.account-address-edit,
.account-wishlist,
.account-referrer,
.account-reward,
.account-transaction{
	background: #f0f0f0;
}

body[class*="account-"]{
	background: #f0f0f0;
}

.account-main{
	padding:20px 30px 50px;
	background: #fff;
}


.account-main .buttons {
	margin-top: 30px;
	text-align: center;
}


.account-main legend{
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.account-main  .btn-back{
	background: #f0f0f0!important;
	color:#222!important;
	border-radius: 30px;
}

.account-main .btn:hover{
	background: #666!important;
}

.address-item .card{
	border: 1px solid #ddd;
	margin:20px 0;
}

.address-item .card .info{
	padding:20px;
	min-height: 210px;
}

.address-item .card .bar{
	border-top:1px solid #ddd;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.address-item .card .bar .btn{
	width:50%;
	background: none!important;
	color:#337ab7!important;
	height: 50px;
	line-height: 50px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
}

.address-item .card .bar .btn:hover{
	background: #f2f2f2!important
}
.address-item .card .bar .btn:before{
	content: "\f044";
	font-family: FontAwesome;
	font-size: 18px;
	margin-right: 10px;
	font-weight: 200;
	line-height: 50px;
}

.address-item .card .bar .btn:last-child:before{
	 content: "\f05c";
}
.address-item .card .bar .btn:last-child{
	color:#ff7f7f!important;
	border-left:1px solid #ddd;
}

.account-main .btn-add{
	background: #ff7f7f!important;
	border-radius: 20px;
	margin-left:20px;
}


.account-wishlist th,.account-main th{
	background: #f0f0f0;
}

.account-wishlist td{
	vertical-align: middle!important;
}

.account-wishlist .btn-primary{
	border: none;
	border-radius: 0;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}


.account-wishlist  table,.account-main table{
	margin: 30px 0;
}

.wishlist .card .info{
	min-height: 150px;
}

.wishlist .card .info img{
	margin-bottom: 10px;
}

.wishlist .card .info .price{
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

.account-main h1,.account-main h2{
	text-transform: capitalize;
	margin-bottom: 10px;
}

@media screen and (max-width:768px) {
	.account-main{
		padding:0;
	}
	
}