{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 style="margin-bottom:40px">{{ heading_title }}</h1>
    <!--   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.830847131864!2d114.1890609153455!3d22.28439654910249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ffe6d29d61%3A0x45603e4471f234b4!2sCake%202!5e0!3m2!1sen!2s!4v1621306028042!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <h3>{{ text_location }}</h3> -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">          	            
            <div class="col-sm-6 contact-info">
	             {% if image %}
				<img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" />
				{% endif %}
	            
	            <div class="item">
					<i class="fa fa-map"></i>
					<div class="info">
						<strong>{{ store }}</strong><br />
						<address>
						{{ address }}
						</address>
					</div>
	              </div>
	              {% if geocode %}
	              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
	              {% endif %}
	              <div class="item">
	              	<i class="fa fa-phone"></i>
	             	 <div class="info"><strong>{{ text_telephone }}</strong><br>
	                            {{ telephone }}
	                 </div>

	               </div>
	               {% if fax %}
	               	<div class="item">
	               		<i class="fa fa-fax"></i>
	               		<div class="info">							
							<strong>{{ text_fax }}</strong><br>
							{{ fax }}
	               		</div>
	               	</div>
	               {% endif %}

	               {% if open %}
	               	<div class="item">
	               		<i class="fa fa-clock-o "></i>
	               		<div class="info">
			               <strong>{{ text_open }}</strong><br />
			               {{ open }}<br />
	               		</div>
	               	</div>
	               <br />
	               {% endif %}
	               {% if comment %}
	               	<div class="item">
	               		<i class="fa fa-comment"></i>
	               		<div class="info">
			               <strong>{{ text_comment }}</strong><br />
			               {{ comment }}
	              		</div>
	               	</div>
	               {% endif %}
            </div>
            <div class="col-sm-6">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				  <fieldset>
				    <legend>{{ text_contact }}</legend>
				    <div class="form-group required">
				     <!--  <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label> -->
				      <div class="col-sm-12">
				        <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control"  placeholder="{{ entry_name }}" />
				        {% if error_name %}
				        <div class="text-danger">{{ error_name }}</div>
				        {% endif %}
				      </div>
				    </div>
				    <div class="form-group required">
				      <!-- <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label> -->
				      <div class="col-sm-12">
				        <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"  placeholder="{{ entry_email }}" />
				        {% if error_email %}
				        <div class="text-danger">{{ error_email }}</div>
				        {% endif %}
				      </div>
				    </div>
				    <div class="form-group required">
				    <!--   <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label> -->
				      <div class="col-sm-12">
				        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control" placeholder="{{ entry_enquiry }}">{{ enquiry }}</textarea>
				        {% if error_enquiry %}
				        <div class="text-danger">{{ error_enquiry }}</div>
				        {% endif %}
				      </div>
				    </div>
				    {{ captcha }}
				  </fieldset>
				  <div class="buttons">				      
				  	<input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
				  </div>
				</form>
            </div>
            
           <!--  <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div> -->
          </div>
        </div>
      </div>
      {% if locations %}
      <h3>{{ text_store }}</h3>
      <div class="panel-group" id="accordion">
        {% for location in locations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
            <div class="panel-body">
              <div class="row">
                {% if location.image %}
                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>
                {% endif %}
                <div class="col-sm-3"><strong>{{ location.name }}</strong><br />
                  <address>
                  {{ location.address }}
                  </address>
                  {% if location.geocode %}
                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                  {% endif %}
                </div>
                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>
                  {{ location.telephone }}<br />
                  <br />
                  {% if location.fax %}
                  <strong>{{ text_fax }}</strong><br>
                  {{ location.fax }}
                  {% endif %}
                </div>
                <div class="col-sm-3">
                  {% if location.open %}
                  <strong>{{ text_open }}</strong><br />
                  {{ location.open }}<br />
                  <br />
                  {% endif %}
                  {% if location.comment %}
                  <strong>{{ text_comment }}</strong><br />
                  {{ location.comment }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
