{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                            {% if error_name %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-width">{{ entry_width  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="width" value="{{ width  }}" placeholder="{{ entry_width  }}" id="input-width" class="form-control" />
                            {% if error_width %}
                                <div class="text-danger">{{ error_width  }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-height">{{ entry_height  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="height" value="{{ height  }}" placeholder="{{ entry_height  }}" id="input-height" class="form-control" />
                            {% if error_height %}
                                <div class="text-danger">{{ error_height  }}</div>
                            {% endif %}
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="limit" value="{{ limit  }}" placeholder="{{ entry_limit  }}" id="input-limit" class="form-control" />
                        </div>
                    </div>
					
					<!-- <div class="form-group"> -->
                        <!-- <label class="col-sm-2 control-label" for="input-slider">{{ entry_use_slider }}</label> -->
                        <!-- <div class="col-sm-10"> -->
                            <!-- <select name="slider" id="input-slider" class="form-control"> -->
                                <!-- {% if slider %} -->
                                    <!-- <option value="1" selected="selected">{{ text_enabled }}</option> -->
                                    <!-- <option value="0">{{ text_disabled }}</option> -->
                                <!-- {% else %} -->
                                    <!-- <option value="1">{{ text_enabled }}</option> -->
                                    <!-- <option value="0" selected="selected">{{ text_disabled }}</option> -->
                                <!-- {% endif %} -->
                            <!-- </select> -->
                        <!-- </div> -->
                    <!-- </div> -->
					
					<div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-items">{{ entry_items  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="items" value="{{ items  }}" placeholder="{{ entry_items  }}" id="input-items" class="form-control" />
                        </div>
                    </div>
					
					<div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-rows">{{ entry_rows  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="rows" value="{{ rows  }}" placeholder="{{ entry_rows  }}" id="input-rows" class="form-control" />
                        </div>
                    </div>

					<div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-auto">{{ entry_auto }}</label>
                        <div class="col-sm-10">
                            <select name="auto" id="input-auto" class="form-control">
                                {% if auto %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
					
					<div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-speed">{{ entry_speed  }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="speed" value="{{ speed  }}" placeholder="{{ entry_speed  }}" id="input-speed" class="form-control" />
                        </div>
                    </div>
					
                    <div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-navigation">{{ entry_navigation }}</label>
                        <div class="col-sm-10">
                            <select name="navigation" id="input-navigation" class="form-control">
                                {% if navigation %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group use-slider">
                        <label class="col-sm-2 control-label" for="input-pagination">{{ entry_pagination }}</label>
                        <div class="col-sm-10">
                            <select name="pagination" id="input-pagination" class="form-control">
                                {% if pagination %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	// var slider = $('#input-slider').val();
	// if(slider == '1') {
		// $('.use-slider').show();
	// } else {
		// $('.use-slider').hide();
	// }
	
	// $('#input-slider').change(function(){
		// var sl = $(this).val();
		
		// if(sl == '1') {
		// $('.use-slider').show();
	// } else {
		// $('.use-slider').hide();
	// }
	// });
});
</script>
{{ footer }}