<footer>
	<div class="top-footer">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.830847131864!2d114.1890609153455!3d22.28439654910249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ffe6d29d61%3A0x45603e4471f234b4!2sCake%202!5e0!3m2!1sen!2s!4v1621306028042!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		<div class="container">
			<div class="row">
				{% if block4 %}
				<div class="col-sm-4 col-f">
					{{ block4 }}
				</div>
				{% endif %}			
				{% if informations %}
				<div class="col-sm-2 col-f">
					<h5 class="title-footer">{{ text_information }}</h5>
					<ul class="list-unstyled">
						{% for information in informations %}
							<li><a href="{{ information.href }}">{{ information.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if block5 %}
				<div class="col-sm-3 col-f">
					{{ block5 }}
				</div>
				{% endif %}
				{% if block6 %}
				<div class="col-sm-3 col-f">
					{{ block6 }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>		
	<div class="bottom-footer">
		<div class="container">
		<div class="bottom-container row">
			<p class="copyright-text">{{ powered }}</p>
			<div class="payment">
				<a href="#"><img src="image/payment/payment.png" alt="payment"></a>
			</div>
		</div>	
		</div>	
	</div>
	<div id="back-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script type="text/javascript">
$(document).ready(function(){
	// hide #back-top first
	$("#back-top").hide();
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 300) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#back-top').click(function () {
			$('body,html').animate({scrollTop: 0}, 800);
			return false;
		});
	});
});
</script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>