{% if languages|length >= 1 %}
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
	<span>{{ text_language }}</span>
		<!-- <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">{{ text_language }}<i class="ion-ios-arrow-down"></i></button> -->
      <!-- <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> -->
      <!-- {% for language in languages %} -->
      <!-- {% if language.code == code %}  -->
      <!-- <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"> -->
      <!-- {% endif %} -->
      <!-- {% endfor %} -->
      <!-- <span class="hidden-xs hidden-sm hidden-md">{{ text_language }}</span>&nbsp;<i class="fa fa-caret-down"></i></button> -->
      <ul class="list-unstyled">
        {% for language in languages %}
		 {% if language.code == code %}
			<li><button class="btn btn-link btn-block language-select item-selected" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
		{% else %}
			<li><button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
		{% endif %}
      {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
{% endif %}
